<template>
  <input type="text" placeholder="">
</template>

<script>
  import FieldFilterMixin from '../mixins/field-filter-mixin'

  export default {
    name: 'input-text-filter',
    mixin: [FieldFilterMixin]
  }
</script>

<style scoped lang="scss">

</style>
