<template>
  <div class="filters--select">
    <select :name="model" v-model="fieldModel[model]">
      <option :value="null">{{ placeholder }}</option>
      <option v-for="option in inputData" :value="option">{{ option }}</option>
    </select>
  </div>
</template>

<script>
  import FieldFilterMixin from '../mixins/field-filter-mixin'

  export default {
    name: 'select-filter',
    mixins: [FieldFilterMixin]
  }
</script>

<style lang="scss">

</style>
