<template>
  <footer class="footer-common df-center-y">
    <div class="footer-common--left df-center-y">
      <langs-ui :heritedOptions="{ toTop: true }"></langs-ui>

      <a href="#">{{ tr('contact') }}</a>

      <a href="#">{{ tr('help') }}</a>
    </div>

    <div class="footer-common--center">
      <shortcuts-socials></shortcuts-socials>
    </div>

    <div class="footer-common--right">
      <image-ui path="logos/logo.png"></image-ui>
    </div>
  </footer>
</template>

<script>
  export default {
    name: 'footer-common'
  }
</script>

<style lang="scss" src="~insideDisplays/library/common/footer.scss"></style>
