<template>
  <div class="header__burger__container">
    <div class="header__burger__element" :class="{ 'header__burger__element--active': getHeaderMobileState }" @click="setMenuState">
      <transition name="fadeIn" mode="out-in">
        <div v-if="!getHeaderMobileState" :key="getHeaderMobileState" class="header__burger__element__close">
          <span></span>
          <span></span>
          <span></span>
        </div>

        <div v-else :key="getHeaderMobileState" class="header__burger__element__open">
          <span></span>
          <span></span>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'header-burger-ui',
    methods: {
      setMenuState () {
        this.setStoreAction('setHeaderMobileState', !this.getHeaderMobileState)
      }
    },
    computed: {
      getHeaderMobileState () {
        return this.getStore('getHeaderMobileState')
      }
    }
  }
</script>

<style scoped lang="scss">
  .header__burger__container {
    @include tablet {
      width: calc(50% - 55px);
    }
  }

  .header__burger__element {
    position: relative;
    width: 16px;
    height: 16px;

    > div {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    span {
      position: absolute;
      background: color(mains, primary);
    }

    &--active {

    }
  }

  .header__burger__element__close {
    span {
      width: 100%;
      height: 2px;

      &:first-child {
        top: 1px;
      }

      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }

      &:last-child {
        bottom: 1px;
      }
    }
  }

  .header__burger__element__open {
    transform: rotate(45deg);

    span {
      &:first-child {
        top: 0;
        left: 50%;
        width: 2px;
        height: 100%;
        transform: translateX(-50%);
      }

      &:last-child {
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        transform: translateY(-50%);
      }
    }
  }
</style>
