<template>
  <nav class="menu-common">
    <ul class="menu-common__lvl1">
      <li @mouseover="setCurrentOvered(index)" @mouseout="setCurrentOvered(null)" v-for="(item, index) in currentData" :key="`item--${index}`">
        <router-link :to="item.link">
          <span>{{ item.title }} <i v-if="getTablet" class="sid2-arrow"></i></span>
        </router-link>

        <!--<transition name="fadeIn">-->
          <!--<ul class="menu-common__submenu menu-common__lvl2" v-if="currentOverred === 0">-->
            <!--<li>-->
              <!--<router-link to="/news">Actualités 1</router-link>-->
            <!--</li>-->
            <!--<li>-->
              <!--<router-link to="/news">Actualités 2</router-link>-->
            <!--</li>-->
            <!--<li>-->
              <!--<router-link to="/news">Actualités 3</router-link>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</transition>-->
      </li>
    </ul>
  </nav>
</template>

<script>
  import FetchSpecific from '~insideCore/mixins/fetch-data-specific'

  export default {
    name: 'menu-common',
    mixins: [FetchSpecific],
    data () {
      return {
        currentOverred: null,
        content: 'menus',
        filters: {
          sort: 'weight:asc'
        },
        fields: ['title', 'link']
      }
    },
    methods: {
      setCurrentOvered (index) {
        this.currentOverred = index
      }
    }
  }
</script>

<style lang="scss" src="~insideDisplays/library/common/menu.scss"></style>
