<template>
  <transition name="fadeIn">
    <div class="mobile-header-common" v-if="getHeaderMobileState">
      <div class="mheader-common__search">
        <input type="text" placeholder="Rechercher sur l'intranet">
        <i class="sid2-search"></i>
      </div>

      <menu-common></menu-common>

      <!--<socials-shortcuts-s2m></socials-shortcuts-s2m>-->

      <div class="mheader-common__footer df-center-y">
        <!--<langs-common></langs-common>-->

        <div class="mheader-common__creation df-center-y">
          <p>Création</p>

          <!--<image-common path="logo.png"></image-s2c>-->
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
  export default {
    name: 'mobile-header-common',
    beforeDestroy () {
      this.resetMenuState()
    },
    methods: {
      resetMenuState () {
        this.setStoreAction('setHeaderMobileState', false)
      }
    },
    watch: {
      getCurrentPath () {
        this.resetMenuState()
      },
      getTablet (value) {
        if (!value) {
          this.resetMenuState()
        }
      }
    },
    computed: {
      getHeaderMobileState () {
        return this.getStore('getHeaderMobileState')
      }
    }
  }
</script>

<style lang="scss" src="~insideDisplays/library/common/mobile-menu.scss"></style>
