<template>
  <div>
    <button class="pb__btn-edit df-center-xy" @click="setEdition">
      <i class="sid2-settings"></i>
    </button>

    <transition name="fadeIn">
      <div class="pb__layout" v-if="getShowEdition">
        <!-- Save button -->
        <div class="pb__save df-center-x">
          <transition name="fadeIn" mode="out-in">
            <button class="pb__btn-save btn-reset" v-if="savingState === 'idle'" :key="savingState" @click="saveLayout">
              <i class="sid2-save"></i>
            </button>

            <p v-if="savingState === 'progress'" :key="savingState">Save in progress ...</p>
            <p class="pb__save__validate" v-if="savingState === 'success'" :key="savingState">Layout saved with success !</p>
            <p class="pb__save__error" v-if="savingState === 'error'" :key="savingState">Layout save failed :(</p>
            <p class="pb__save__error" v-if="savingState === 'missedPath'" :key="savingState">You must add one path.</p>
          </transition>
        </div>

        <!-- All layouts path -->
        <div class="pb__layout-path df-center-y" :class="{ 'pb__layout-path--open': layoutPathState }">
          <div class="pb__layout-path__content">
            <p>Current layout paths</p>

            <div class="pb__layout-path__path" v-for="(field, index) in pathModels" :key="`path--${index}`">
              <input type="text" v-model="pathModels[index]">
              <i class="sid2-trash" @click="removePath(index)"></i>
            </div>

            <div class="pb__layout-path__add df-center-y">
              <div class="btn-add" @click="addPath">
                <i class="sid2-more"></i>
              </div>
            </div>
          </div>

          <div class="pb__layout-path__btn" @click="layoutPathState = !layoutPathState">
            <i class="sid2-arrow"></i>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
  export default {
    name: 'page-builder-ui',
    data () {
      return {
        savingState: 'idle',
        layoutPathState: false,
        pathModels: [],
        formattedPath: [],
        templateID: null
      }
    },
    beforeMount () {
      this.getLayout()
    },
    methods: {
      setEdition () {
        this.setStoreAction('setShowEdition', !this.getStore('getShowEdition'))
      },
      /*
      * Get layout for the current page
      */
      getLayout () {
        const routePath = this.$route.path === '/' ? 'home' : this.$route.path
        const url = `${this.getEndpoint('layoutData')}?path=${routePath.replace('/', '')}`

        this.get(url).then((res) => {
          if (res.ok) {
            const layoutData = res.body.data.layout

            if (layoutData) {
              this.templateID = res.body.data.id
              this.setAllPaths(res.body.data.path)
              this.setStoreAction('setLayoutWithData', res.body.data)
            } else {
              this.templateID = null
              this.resetPaths()
              this.setStoreAction('initLayout')
            }

            setTimeout(() => {
              this.$emit('layoutReady', false)
            }, 50)
          } else {
            this.$emit('layoutFailed', true)
          }
        })
      },
      /*
      * Save current layout
      */
      saveLayout () {
        if (this.pathModels.length === 0) {
          this.savingState = 'missedPath'

          return false
        }

        const url = this.templateID ? `layout/${this.templateID}` : 'layout'
        const methodAPI = this.templateID ? 'put' : 'post'

        this.savingState = 'progress'

        this[methodAPI](url, {
          layout: JSON.stringify(this.getStore('getRowsSchema')),
          blocks: JSON.stringify(this.getStore('getBlocks')),
          path: this.formattedPath
        }).then((res) => {
          if (res.status === 200) {
            this.savingState = 'success'
          } else {
            this.savingState = 'error'
          }
        }).catch(() => {
          this.savingState = 'error'
        })
      },
      /*
      * Add new path
      */
      addPath () {
        this.pathModels.push('')
      },
      /*
      * Remove path
      */
      removePath (index) {
        this.pathModels.splice(index, 1)
        this.formattedPath.splice(index, 1)
      },
      /*
      * Set paths width data
      */
      setAllPaths (paths) {
        this.pathModels = []

        for (let y = 0; y < paths.length; y++) {
          this.pathModels[y] = paths[y].path
        }
      },
      /*
      * Reset paths
      */
      resetPaths () {
        for (let y = 0; this.pathModels.length; y++) {
          this.removePath(y)
        }
      }
    },
    watch: {
      savingState (value) {
        if (this.timeout) {
          clearTimeout(this.timeout)
        }

        if (value !== 'progress') {
          this.timeout = setTimeout(() => {
            this.savingState = 'idle'
          }, 2000)
        }
      },
      /*
      * Formatted path to send to the server
      */
      pathModels (value) {
        for (let y = 0; y < value.length; y++) {
          this.formattedPath[y] = {
            path: value[y],
            options: {}
          }
        }
      },
      getCurrentPath () {
        this.getLayout()
      }
    },
    computed: {
      getShowEdition () {
        return this.getStore('getShowEdition')
      }
    }
  }
</script>

<style lang="scss">
  .pb__btn-edit,
  .pb__btn-save {
    width: 50px;
    height: 50px;
    color: color(basics, white);
    background: color(admin, a);
    border-radius: 100%;
    border: 1px solid color(admin, a);
    @include transition(all .4s);

    i {
      @include fontSize(20);
    }

    &:hover {
      color: color(admin, a);
      background: color(basics, white);
    }
  }

  .pb__btn-edit,
  .pb__save {
    position: fixed;
    z-index: 15;
    bottom: 3vw;
  }

  /*
  * Edition button
  */
  .pb__btn-edit {
    left: 3vw;
  }

  /*
  * Saving button
  */
  .pb__save {
    right: 3vw;

    p {
      letter-spacing: .05em;
      @include fontSize(15);
    }
  }

  .pb__save__validate {
    color: color(actions, validate);
  }

  .pb__save__error {
    color: color(actions, error);
  }

  /*
  * Layout paths
  */

  .pb__layout-path {
    position: fixed;
    z-index: 100;
    top: 10vh;
    left: 0;
    align-items: flex-start;
    transform: translateX(-100%) translateX(39px);
    @include transition(transform .5s);

    &--open {
      transform: translateX(0);

      .pb__layout-path__btn i {
        transform: scaleX(-1);
      }
    }
  }

  .pb__layout-path__content,
  .pb__layout-path__btn {
    background: color(basics, white);
    border: 1px solid color(admin, a);
  }

  .pb__layout-path__content {
    width: 250px;
    padding: 15px;

    > p {
      text-align: center;
      margin-bottom: 15px;
      letter-spacing: .05em;
    }
  }

  .pb__layout-path__btn {
    padding: 10px 15px;
    border-left: 0;
    color: color(basics, white);
    background: color(admin, a);
    cursor: pointer;
    @include transition(all .4s);

    &:hover {
      color: color(admin, a);
      background: color(basics, white);
    }

    i {
      display: block;
      @include transition(transform .5s);
    }
  }

  .pb__layout-path__path {
    margin-top: 10px;

    input {
      width: calc(100% - 20px);
      height: 25px;
      padding: 0 9px;
      border: 1px solid color(inputs, a);
      letter-spacing: .05em;
      @include fontSize(12);
      @include transition(border-color .4s);

      &:focus {
        border-color: color(admin, a);
      }
    }

    i {
      cursor: pointer;
      @include transition(color .4s);

      &:hover {
        color: color(actions, error);
      }
    }
  }

  .pb__layout-path__add {
    justify-content: flex-end;
    margin-top: 15px;
    margin-right: 20px;

    .btn-add {
      width: 20px;
      height: 20px;
      @include fontSize(10);
    }
  }
</style>
