<template>
  <div class="tooltip-content">
    <ul class="tooltip-content__tabs-menu" v-if="builder !== 'row'">
      <li v-for="(menu, index) in dataMenu[builder]" :key="`menu--${index}`" :class="{ 'active': index === currentTab }" @click="setCurrentTabs(index)" v-if="dataMenu['block'][index]">{{ menu.label }}</li>
    </ul>

    <template v-if="builder === 'row'">
      <h1>Choice your layout</h1>

      <div class="pb__row__layouts">
        <div v-for="layout in rowSchema" :key="layout.label">
          <p>{{ layout.label }}</p>

          <div class="pb__row__layouts__schema">
            <div :class="`pb__row__layouts--${layout.nbCol}`" v-for="n in layout.nbCol" :key="`schema-${n}`" @click="tooltipAction({ data: layout.nbCol, action: 'addRow'})"></div>
          </div>
        </div>
      </div>
    </template>

    <template v-if="builder === 'layout'">
      <div class="tooltip-content__tab" v-if="currentTab === 0" key="tab--0">
        <layout-tooltip-content :heritedData="heritedData" @setLayoutOptions="tooltipAction"></layout-tooltip-content>
      </div>
    </template>

    <template v-if="builder === 'block'">
      <transition name="fadeIn" mode="out-in">
        <div class="tooltip-content__tab" v-for="(tab, index) in dataMenu['block']" v-if="currentTab === index && dataMenu['block'][index]" :key="`tab--${index}`">
          <h1 v-if="tab.label">{{ tab.label }}</h1>

          <block-tooltip-content v-if="tab.name" :heritedData="heritedData" :display="tab.name" @tooltipAction="tooltipAction" @deleteBlock="tooltipAction" @setBlockOptions="tooltipAction"></block-tooltip-content>
        </div>
      </transition>
    </template>
  </div>
</template>

<script>
  import rowSchema from '../../schemas/row-schema'
  import BlockTooltipContent from './tooltip-forms/BlockTooltipContent'
  import LayoutTooltipContent from './tooltip-forms/LayoutTooltipContent'

  export default {
    name: 'tooltip-content',
    props: ['builder'],
    components: {
      BlockTooltipContent,
      LayoutTooltipContent
    },
    data () {
      return {
        currentTab: 0,
        dataMenu: {
          layout: [],
          block: this.heritedData && this.builder === 'block' ? this.heritedData.currentModule.tabs : []
        },
        rowSchema
      }
    },
    methods: {
      setCurrentTabs (index) {
        this.currentTab = index
      },
      tooltipAction (value) {
        this.$emit('tooltipAction', {
          data: value.data,
          tab: value.tab,
          action: value.action
        })
      }
    }
  }
</script>

<style lang="scss">
  .tooltip-wrapper {
    position: relative;
    width: 400px;
  }

  .tooltip-content {
    color: color(admin, a);
    letter-spacing: 0.05em;

    h1 {
      text-align: center;
      @include fontSize(17);
    }

    h2 {
      @include fontSize(15);
    }

    input,
    textarea {
      border: 1px solid color(inputs, a);
    }
  }

  .tooltip-content__tabs-menu {
    position: absolute;
    left: calc(100% + 21px);

    li {
      position: relative;
      display: block;
      padding: 5px 8px;
      color: color(admin, a);
      background: color(basics, white);
      border-right: 1px solid color(admin, a);
      border-bottom: 1px solid color(admin, a);
      cursor: pointer;
      text-align: center;
      @include fontSize(12);
      @include transition(all .4s);

      &:first-child {
        border-top: 1px solid color(admin, a);
      }

      &:hover,
      &.active {
        color: color(basics, white);
        background: color(admin, a);
      }

      &.active {
        z-index: 6;
      }
    }
  }

  .tooltip-content__section {
    padding-bottom: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid color(admin, a);

    &:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: 0;
    }

    .btn {
      padding: 5px 7px;
      border-radius: 15px;
      background: color(admin, a);
      border-color: color(admin, a);
      @include fontSize(12);

      &:hover {
        color: color(admin, a);
        background: color(basics, white);
      }
    }
  }

  .pb__row__layouts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    > div {
      width: 45%;
      margin-top: 25px;
    }

    p {
      margin-bottom: 10px;
      @include fontSize(13);
    }
  }

  .pb__row__layouts__schema {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    cursor: pointer;

    &:hover > div {
      background: color(basics, black);
    }

    > div {
      height: 100%;
      background: color(admin, a);
      @include transition(background .4s);

      &.pb__row__layouts--1 { width: 100%; }
      &.pb__row__layouts--2 { width: calc((100% - 3px) / 2); }
      &.pb__row__layouts--3 { width: calc((100% - 3px * 2) / 3); }
      &.pb__row__layouts--4 { width: calc((100% - 3px * 3) / 4); }
    }
  }

  .tooltip-content__1fields,
  .tooltip-content__2fields {
    margin-top: 15px;
  }

  .tooltip-content__2fields {
    justify-content: space-between;

    > * {
      width: 49%;
    }
  }

  .tooltip-content__single-field {
    label,
    input {
      display: block;
      outline: none;
    }

    label {
      margin-bottom: 5px;
      @include fontSize(13);
    }

    input,
    select {
      height: 20px;
      padding: 0 5px
    }
  }

  .tooltip-content__unit {
    align-items: stretch;

    input {
      width: calc(100% - 50px);
    }

    select {
      width: 50px;
    }
  }

  .tooltip-content__align {
    justify-content: space-between;

    i {
      @include fontSize(40);
    }

    .tooltip-content__fields--radio {
      flex-direction: column;
      margin-right: 0;
    }
  }

  .tooltip-content__div-fields {
    margin-top: 15px;
  }

  .tooltip-content__fields--radio,
  .tooltip-content__fields--checkbox {
    display: flex;
    align-items: center;
    margin-right: 10px;

    label {
      position: relative;
      top: 2px;
      margin-right: 5px;
      color: color(basics, black);
    }
  }

  .tooltip-content__div-fields {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    > div {
      width: 49%;
    }
  }

  .tooltip-content__confirm {
    .btn-add {
      margin-right: 10px;
      @include fontSize(9);
    }

    .btn-delete {
      @include fontSize(13);

      i {
        transform: rotate(45deg);
      }
    }
  }

  .tooltip-content__subtitle {
    margin-bottom: 8px;
    @include fontSize(15);
  }
</style>
