<template>
  <div>
    <transition name="fadeIn" mode="out-in">
      <div v-if="!getFields" :key="getFieldsLength">
        Loader ...
      </div>

      <div v-else :key="getFieldsLength">
        <div class="tooltip-content__section">
          <div class="tooltip-content__1fields tooltip-content__single-field tooltip-content__content-type">
            <p class="tooltip-content__subtitle">Choose your content types</p>

            <div class="df-center-y">
              <div class="tooltip-content__fields--checkbox" v-for="type in getTables">
                <label>{{ type }}</label>
                <input type="checkbox" :name="`type--${type}`" :value="type" v-model="model.contentTypes">
              </div>
            </div>
          </div>
        </div>

        <div class="tooltip-content__section">
          <p class="tooltip-content__subtitle">Choose your filters</p>

          <div class="tooltip-content__content-fields">
            <div class="tooltip-content__content-fields--single tooltip-content__content-fields--default">
              <label>Sort</label>
              <select v-model="model.blockFiltersDefault.sort">
                <option :value="null">Select field</option>
                <option :value="filter.COLUMN_NAME" v-for="filter in getFields" v-if="filter.DATA_TYPE !== 'object'" :key="`filter--${filter.COLUMN_NAME}`">{{ filter.COLUMN_NAME }}</option>
              </select>
            </div>

            <div class="tooltip-content__content-fields--single tooltip-content__content-fields--default">
              <label>Limit</label>
              <input type="number" v-model="model.blockFiltersDefault.limit">
            </div>

            <div class="tooltip-content__content-fields--single tooltip-content__content-fields--default">
              <label>Offset</label>
              <input type="number" v-model="model.blockFiltersDefault.offset">
            </div>

            <div class="tooltip-content__content-fields--single tooltip-content__content-fields--default">
              <label>Order</label>

              <select v-model="model.blockFiltersDefault.order">
                <option value="asc">ASC</option>
                <option value="desc">DESC</option>
              </select>
            </div>
          </div>
        </div>

        <div class="tooltip-content__section">
          <p class="tooltip-content__subtitle">Choose your filters fields</p>

          <field-block-content v-for="(field, index) in model.blockFilters" :key="`filter--${index}`" :heritedData="{ type: 'filter', depth: 0, index }" @setModel="setChildModel"></field-block-content>

          <div class="tooltip-content__btn-add-container df-center-x">
            <div class="btn-add" @click="addNewFilter">
              <i class="sid2-more"></i>
            </div>
          </div>
        </div>

        <div class="tooltip-content__section">
          <p class="tooltip-content__subtitle">Choose your fields</p>

          <field-block-content v-for="(field, index) in model.blockFields" :key="`filter--${index}`" :heritedData="{ type: 'field', depth: 0, index }" @setModel="setChildModel"></field-block-content>

          <div class="tooltip-content__btn-add-container df-center-x">
            <div class="btn-add" @click="addNewField">
              <i class="sid2-more"></i>
            </div>
          </div>
        </div>

        <div class="tooltip-content__section">
          <button class="btn" @click="saveContent">Save content schema</button>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
  import '../FieldBlockContent'
  import FormatterQueryBuilder from '../../../../helpers/FormatterQueryBuilder'

  export default {
    name: 'block-tab-content',
    data () {
      this.formatterQueryBuilder = new FormatterQueryBuilder()

      const heritedData = this.heritedData

      return {
        model: {
          contentTypes: heritedData.contentTypes ? heritedData.contentTypes : [],
          blockFiltersDefault: heritedData.blockFiltersDefault ? heritedData.blockFiltersDefault : {
            sort: null,
            limit: null,
            offset: null,
            order: 'asc'
          },
          blockFilters: heritedData.blockFilters ? heritedData.blockFilters : [],
          blockFields: heritedData.blockFields ? heritedData.blockFields : []
        }
      }
    },
    beforeMount () {
      if (!this.getFields) {
        this.getFieldsSchema()
      }
    },
    methods: {
      /*
      * Request to get field schema
      */
      getFieldsSchema () {
        this.get(this.getEndpoint('fieldSchema')).then((res) => {
          if (res.ok) {
            this.setStoreAction('setFields', res.body.data)
          }
        })
      },
      /*
      * Add new filter
      */
      addNewFilter () {
        this.model.blockFilters.push({
          key: null,
          value: null
        })
      },
      /*
      * Add new field
      */
      addNewField () {
        this.model.blockFields.push({
          key: null
        })
      },
      /*
      * Delete value from model (field/filter)
      */
      deleteChildField (index, type) {
        if (type === 'filter') {
          this.$delete(this.model.blockFilters, index)
        } else {
          this.$delete(this.model.blockFields, index)
        }
      },
      /*
      * Set model values
      */
      setChildModel (childModel) {
        const varType = childModel.type === 'filter' ? 'blockFilters' : 'blockFields'
        this.$set(this.model[varType][childModel.index], 'key', childModel.key)
        this.$set(this.model[varType][childModel.index], 'value', childModel.value)

        if (childModel.type === 'filter') {
          this.$set(this.model[varType][childModel.index], 'operation', childModel.operation)
        }
      },
      saveContent () {
        const contentTypeURL = this.formatterQueryBuilder.getURLContentType(this.model.contentTypes)
        const filterURL = this.formatterQueryBuilder.getURLFilters(this.model.blockFilters, this.model.blockFiltersDefault)
        const fieldURL = this.formatterQueryBuilder.getURLFields(this.model.blockFields)

        this.$emit('blockTabAction', {
          action: 'setBlockOptions',
          tab: 'content',
          data: {
            contentTypes: this.model.contentTypes,
            blockFilters: this.model.blockFilters,
            blockFiltersDefault: this.model.blockFiltersDefault,
            blockFields: this.model.blockFields,
            formattedContents: contentTypeURL,
            formattedFields: fieldURL,
            formattedFilters: filterURL
          }
        })
      }
    },
    computed: {
      getFields () {
        return this.getStore('getFields')
      },
      getTables () {
        return this.getStore('getTables')
      },
      getFieldsLength () {
        if (this.getFields) {
          return 1
        }

        return 0
      }
    }
  }
</script>

<style lang="scss">

</style>
