<template>
  <div>
    <div class="tooltip-content__section">
      <div class="tooltip-content__single-field df-center-y">
        <p class="tooltip-content__subtitle">Block title</p>
        <input type="text" v-model="model.blockTitle">
      </div>

      <div class="tooltip-content__single-field tooltip-content__content-type tooltip-content__checkbox-once df-center-y">
        <p class="tooltip-content__subtitle">Content has no data</p>

        <div class="df-center-y">
          <div class="tooltip-content__fields--checkbox">
            <input type="checkbox" :value="true" v-model="model.hasNoData">
          </div>
        </div>
      </div>
    </div>

    <div class="tooltip-content__section df-center-y tooltip-content__section--btns">
      <button class="btn" @click="saveGeneral">Save general settings</button>

      <div>
        <transition name="fadeIn" mode="out-in">
          <button class="btn" @click="showDelete = true" v-if="!showDelete" :key="showDelete">Delete Block</button>

          <div class="tooltip-content__confirm df-center-y" v-else :key="showDelete">
            <button class="btn-add" @click="deleteBlock">
              <i class="sid2-check"></i>
            </button>

            <button class="btn-delete" @click="showDelete = false">
              <i class="sid2-more"></i>
            </button>
          </div>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'block-tab-general',
    data () {
      const heritedData = this.heritedData

      return {
        model: {
          blockTitle: heritedData.blockTitle ? heritedData.blockTitle : '',
          hasNoData: heritedData.hasNoData ? heritedData.hasNoData : null
        },
        showDelete: false
      }
    },
    methods: {
      saveGeneral () {
        this.$emit('blockTabAction', {
          action: 'setBlockOptions',
          tab: 'general',
          data: this.model
        })
      },
      /*
      * Delete entire block
      */
      deleteBlock () {
        this.setStoreAction('deleteBlock', {
          parentID: this.heritedData.depthID,
          blockID: this.heritedData.blockID,
          blockPos: this.heritedData.blockPos
        })

        this.$emit('blockTabAction', {
          action: 'deleteBlock'
        })
      }
    }
  }
</script>

<style scoped lang="scss">
  .tooltip-content__section--btns {
    justify-content: space-between;
  }
</style>
