<template>
  <div>
    <div class="tooltip-content__section">
      <div class="tooltip-content__1fields tooltip-content__single-field df-center-y">
        <p class="tooltip-content__subtitle">Is a list ?</p>

        <div class="df-center-y">
          <div class="tooltip-content__fields--radio">
            <label>Yes</label>
            <input type="radio" name="islist" :value="true" v-model="model.isList">
          </div>

          <div class="tooltip-content__fields--radio">
            <label>No</label>
            <input type="radio" name="islist" :value="false" v-model="model.isList">
          </div>
        </div>
      </div>

      <transition name="fadeIn">
        <div v-if="model.isList">
          <div class="tooltip-content__single-field df-center-y">
            <p class="tooltip-content__subtitle">Has link ?</p>

            <div class="df-center-y">
              <div class="tooltip-content__fields--radio">
                <label>Yes</label>
                <input type="radio" name="hasLink" :value="true" v-model="model.hasListLink">
              </div>

              <div class="tooltip-content__fields--radio">
                <label>No</label>
                <input type="radio" name="hasLink" :value="false" v-model="model.hasListLink">
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>

    <div class="tooltip-content__section">
      <button class="btn" @click="saveDisplay">Save block display</button>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'block-tab-display',
    data () {
      const heritedData = this.heritedData

      return {
        model: {
          isList: heritedData.isList ? heritedData.isList : false,
          hasListLink: heritedData.hasListLink ? heritedData.hasListLink : false
        }
      }
    },
    methods: {
      saveDisplay () {
        this.$emit('blockTabAction', {
          action: 'setBlockOptions',
          tab: 'display',
          data: this.model
        })
      }
    }
  }
</script>

<style scoped lang="scss">

</style>
