<template>
  <div class="skeleton skeleton--default">
    <div class="skeleton-bg skeleton-bg--big">
      <span class="skeleton__line"></span>
    </div>

    <div class="skeleton-bg skeleton-bg--medium"></div>

    <div class="skeleton-bg skeleton-bg--medium"></div>
  </div>
</template>

<script>
  export default {
    name: 'skeleton-block-default'
  }
</script>

<style scoped lang="scss">

</style>
