<template>
  <div class="inside">
    <transition name="fadeIn" mode="out-in">
      <router-view/>
    </transition>
  </div>
</template>

<script>
  export default {
    name: 'inside-coretpl',
    beforeMount () {
      this.checkSession(this)
    },
    mounted () {
      const app = this.getApp()

      if (app.componentDispatcher) {
        this.setStoreAction('setModules', app.componentDispatcher.modules)
      }
    },
    watch: {
      '$route' (to) {
        this.setStoreAction('setCurrentPath', to.path)
      }
    }
  }
</script>

<style lang="scss" src="~insideLibrary/styles/main.scss"></style>
