
/*
* Clearfix
*/
.clearfix {
  *zoom: 1;

  &::after {
    display: table;
    line-height: 0;
    content: '';
    clear: both;
  }
}

/*
* Flexbox center
*/

.df-center {
  &-y {
    align-items: center;
  }

  &-x {
    justify-content: center;
  }

  &-xy {
    align-items: center;
    justify-content: center;
  }
}

[class*="df-center"] {
  display: flex;
}

/*
* Actions callback message
*/
.validate {
  color: color(actions, validate);
}

.error {
  color: color(actions, error);
}

/*
* Link arrow
*/

.link-arrow {
  display: flex;
  align-items: center;
  color: color(mains, primary);
  @include fontSize(16);
  @include transition(color .4s);

  i {
    margin-right: 14px;
  }

  &:hover {
    color: color(mains, secondary);
  }
}

/*
* Capitalize word
*/
.capitalize {
  text-transform: capitalize;
}
