@font-face {
  font-family: 'sid2';
  src:
    url('~fonts/icons/sid2.ttf') format('truetype'),
    url('~fonts/icons/sid2.woff') format('woff'),
    url('~fonts/icons/sid2.svg#sid2') format('svg');
  font-style: normal;
  font-weight: normal;
}

[class^="sid2-"],
[class*=" sid2-"] {
  font-family: 'sid2';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sid2-search::before { content: '\e900'; }
.sid2-notification::before { content: '\e901'; }
.sid2-like::before { content: '\e902'; }
.sid2-comment::before { content: '\e903'; }
.sid2-bookmark::before { content: '\e904'; }
.sid2-bookmark-fill::before { content: '\e905'; }
.sid2-facebook::before { content: '\e906'; }
.sid2-insta::before { content: '\e907'; }
.sid2-linkedin::before { content: '\e908'; }
.sid2-twitter::before { content: '\e909'; }
.sid2-youtube::before { content: '\e90a'; }
.sid2-mail::before { content: '\e90b'; }
.sid2-check::before { content: '\e90c'; }
.sid2-star::before { content: '\e90d'; }
.sid2-tools::before { content: '\e90e'; }
.sid2-logout::before { content: '\e90f'; }
.sid2-photo::before { content: '\e910'; }
.sid2-sun::before { content: '\e911'; }
.sid2-calendar::before { content: '\e912'; }
.sid2-folder::before { content: '\e913'; }
.sid2-settings::before { content: '\e914'; }
.sid2-arrow::before { content: '\e915'; }
.sid2-pin::before { content: '\e916'; }
.sid2-arrow-link::before { content: '\e917'; }
.sid2-hr::before { content: '\e918'; }
.sid2-imgfile::before { content: '\e919'; }
.sid2-more::before { content: '\e920'; }
.sid2-plaintext::before { content: '\e91a'; }
.sid2-videofile::before { content: '\e91b'; }
.sid2-pdf::before { content: '\e91c'; }
.sid2-doc::before { content: '\e91d'; }
.sid2-profile::before { content: '\e91e'; }
.sid2-directory::before { content: '\e91f'; }
.sid2-comment-fill::before { content: '\e921'; }
.sid2-like-fill::before { content: '\e922'; }
.sid2-contributors::before { content: '\e923'; }
.sid2-doc-2::before { content: '\e924'; }
.sid2-posts::before { content: '\e925'; }
.sid2-edit::before { content: '\e926'; }
.sid2-center-align::before { content: '\e927'; }
.sid2-left-align::before { content: '\e928'; }
.sid2-right-align::before {
  display: inline-block;
  transform: scaleX(-1);
  content: '\e928';
}
.sid2-trash::before { content: '\e92a'; }
.sid2-save::before { content: '\e92b'; }
