
/*
* Fade In transition
*/

.fadeIn-enter-active,
.fadeIn-leave-active {
  @include transition(opacity .4s);
}

.fadeInLoader-enter-active,
.fadeInLoader-leave-active {
  @include transition(opacity .2s);
}

.fadeIn-enter,
.fadeIn-leave-to,
.fadeInLoader-enter,
.fadeInLoader-leave-to {
  opacity: 0;
}

/*
* Fade In Up transition
*/

.fadeInUp-enter-active,
.fadeInUp-leave-active {
  @include transition(all .5s);
}

.fadeInUp-enter,
.fadeInUp-leave-to {
  opacity: 0;
  transform: translateY(50px);
}
