/*
* Global tags
*/

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $main_font;
  -webkit-font-smoothing: antialiased;
  @include fontSize(14);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;

  a {
    @include transition(color .4s);
  }
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style-type: none;
  }
}

p {
  margin: 0;
}

a,
button,
input[type='text'],
input[type='email'],
input[type='phone'],
input[type='submit'],
textarea {
  outline: none;
  -webkit-appearance: none;

  &::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
}

select {
  &::-ms-expand {
    display: none;
  }
}

input[type='text'] {
  border-radius: 0;
  font-family: $main_font;
  @include fontSize(14);

  @include tablet {
    @include fontSize(16);
  }
}

button {
  cursor: pointer;
  -webkit-appearance: none;
}

a {
  color: color(basics, black);
  text-decoration: none;
}

img {
  max-width: 100%;
}

#_hj_feedback_container {
  display: none;
}

/*
* Other globals rules
*/
@import './_transitions';
@import './_classes';
@import './_icons';
