<template>
  <div class="my-space-customs df-center-x">
    <div class="my-space-customs__content">
      <a href="#" class="my-space-customs__button df-center-y">
        <!--<img src="~@/img/cfao-auto.png" alt="CFAO Auto">-->

        <div>
          <div class="my-space-customs__link df-center-y">
            <span>{{ tr('myspace') }}</span>
            <div class="df-center-xy">
              <i class="sid2-arrow-link"></i>
            </div>
          </div>
        </div>
      </a>

      <a href="#" class="my-space-customs__contribute df-center-xy">
        <div class="df-center-xy">+</div>
        <span>{{ tr('icontribute') }}</span>
      </a>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'my-space-customs'
  }
</script>

<style scoped lang="scss">
  .my-space-customs {
    padding: 90px 0;
    /* background: url(~@/img/bg_icfo_auto.jpg) no-repeat center center; */
    background-size: cover;
  }

  .my-space-customs__button {
    justify-content: space-between;
    padding: 25px 35px;
    background: color(basics, white);
    border-radius: 70px;

    @include mobile {
      padding: 25px 15px;
    }

    img {
      margin-right: 135px;

      @include tablet-to-mobile {
        margin-right: 15px;
      }

      @include mobile {
        max-width: 80px;
        margin-right: 10px;
      }
    }

    &:hover .my-space-customs__link {
      span {
        transform: translateX(-15px);
      }

      div {
        color: color(mains, primary);
        background: color(basics, white);
      }
    }
  }

  .my-space-customs__link {
    span {
      margin-right: 15px;
      color: color(mains, primary);
      @include fontSize(16);
      @include transition(all .4s);
    }

    div {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      color: color(basics, white);
      background: color(mains, primary);
      border: 1px solid color(mains, primary);
      @include transition(all .4s);
    }
  }

  .my-space-customs__contribute {
    margin-top: 18px;
    color: color(basics, white);

    span {
      @include transition(transform .4s);
    }

    div {
      width: 26px;
      height: 26px;
      margin-right: 10px;
      color: color(basics, white);
      border-radius: 100%;
      border: 1px solid color(basics, white);
    }

    &:hover {
      span {
        transform: translateX(15px);
      }
    }
  }
</style>
