.capsule-news {
  display: flex;
  justify-content: space-between;

  > div:first-child {
    width: calc(100% - 480px);
  }
}

.capsule-news__cat {
  color: color(mains, secondary);
  text-transform: uppercase;
  letter-spacing: .1em;
  @include fontSize(12);

  span ~ span {
    margin-left: 10px;
  }
}

.capsule-news__title {
  margin: 15px 0;
  @include fontSize(26);

  a {
    color: color(basics, black);
  }

  &:hover a {
    color: color(mains, secondary);
  }
}

.capsule-news__text {
  display: block;
  margin-bottom: 20px;
  color: color(basics, black);
  line-height: 1.6;
  font-weight: 300;
  @include fontSize(16);
}

.capsule-news__actions {
  .like-s2c {
    margin-right: 15px;
  }

  .comment-preview-s2c {
    i {
      position: relative;
      top: 2px;
    }
  }
}

.capsule-news__picture {
  position: relative;
  width: 48%;
  padding: 0 0 0 30px;
  max-width: 380px;

  &::after {
    position: absolute;
    top: 30px;
    left: 0;
    width: calc(100% - 30px);
    height: 100%;
    background: linear-gradient(135deg, color(gradients, a) 0%, color(gradients, b) 51%, color(gradients, c) 100%);
    content: '';
  }

  img {
    position: relative;
    z-index: 4;
    max-width: 100%;
  }

  .capsule-news__bg {
    position: relative;
    display: block;
    z-index: 4;
    height: 245px;
    background-size: cover !important;
  }
}

.capsule-news__date {
  position: absolute;
  z-index: 5;
  top: 30px;
  left: 0;
  padding: 6px 10px 9px;
  text-align: center;
  color: color(basics, white);
  background: color(mains, thirdary);
}

.capsule-news__date__day {
  font-weight: 700;
  @include fontSize(31);
}

.capsule-news__date__month,
.capsule-news__date__year {
  text-transform: uppercase;
  @include fontSize(11);
}

/*
* EQCSS
*/
.medium.capsule-news > div:first-child {
  width: 48%;
}

.small.capsule-news {
  flex-wrap: wrap;

  > div:first-child {
    width: 100%;
  }

  .capsule-news__picture {
    width: 100%;
    margin-bottom: 25px;
  }
}
