.full-new__header {
  text-align: center;

  > div {
    justify-content: center;
  }

  h1 {
    margin: 15px 0;
    color: color(texts, c);
    @include fontSize(36);

    @include mobile {
      @include fontSize(26);
    }
  }
}

.full-new__date {
  margin-right: 20px;
  color: color(texts, b);
  @include fontSize(14);
}

.full-new__cat {
  color: color(mains, secondary);
  text-transform: uppercase;
}

.full-new__actions {
  > * {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.full-new__main {
  img {
    display: block;
    margin: 20px auto 30px;
  }
}

.full-new__content {
  display: block;
  margin: auto;
  color: color(texts, c);
  line-height: 1.8;
  font-family: $secondary_font;
  max-width: 90vw;
  @include fontSize(18);
}

.full-new__author {
  margin-top: 45px;
  text-align: center;

  > p {
    margin-bottom: 20px;
    color: color(texts, c);
    font-weight: 500;
    @include fontSize(20);
  }
}
