.hero-news {
  position: relative;
  width: 100%;
  min-height: 35vh;
  padding: 0 5%;

  &::after {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(color(basics, black), .4);
    content: '';
  }
}

.hero-news__content {
  position: relative;
  z-index: 5;
  color: color(basics, white);
}

.hero-news__cat {
  color: color(mains, secondary);
  text-transform: uppercase;
  letter-spacing: .1em;
  @include fontSize(12);
}

.hero-news__title {
  margin: 15px 0;
  @include fontSize(26);

  a {
    color: color(basics, white);
  }

  &:hover a {
    color: color(mains, secondary);
  }
}
