.minimal-news {
  > img {
    max-width: 100%;
    margin-bottom: 18px;
  }

  .minimal-news__content {
    > a {
      display: block;
      margin-bottom: 18px;
      color: color(texts, a);
      @include fontSize(19);
      @include transition(color .4s);

      &:hover {
        color: color(mains, primary);
      }
    }
  }
}

.minimal-news__infos {
  justify-content: space-between;

  > div:first-child {
    max-width: 60%;
    padding-left: 7px;
    border-left: 2px solid color(mains, primary);
  }
}

.minimal-news__mains {
  display: flex;
  margin-bottom: 10px;
}

.minimal-news__date {
  flex: 0 1 auto;
  margin-right: 15px;
  text-transform: uppercase;
  color: color(texts, d);
  @include fontSize(15);

  > span {
    display: block;
    white-space: nowrap;

    span {
      display: inline-block;
    }
  }
}

.minimal-news__category {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  text-transform: uppercase;
  color: color(mains, primary);
  @include fontSize(15);

  span {
    margin-right: 10px;
  }

  span:last-child {
    margin-right: 0;
  }
}

.minimal-news__type {
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  color: color(texts, d);
  @include fontSize(12);

  span {
    margin-right: 10px;
  }

  span:last-child {
    margin-right: 0;
  }
}

.minimal-news__actions {
  max-width: 48%;

  .like-s2c {
    margin-right: 20px;
  }
}

.minimal-news__bg {
  display: block;
  min-height: 100px;
  background-size: cover !important;
}
