<template>
  <div class="filters">
    <component v-for="(field, index) in filterFields" :key="`filterField--${index}`" :is="`${field.type}-filter-s2c`" :model="field.model" :placeholder="field.placeholder" :inputData="filterFieldsData[field.model]" :queryPath="field.queryPath"></component>
  </div>
</template>

<script>
  import Vue from 'vue'
  import _ from 'lodash'
  import Voca from 'voca'
  import FilterFields from './fields'

  export default Vue.component('filter-view', {
    props: {
      initialViewData: {},
      filterData: {
        type: Array,
        default: () => {}
      }
    },
    components: FilterFields,
    data () {
      return {
        filterFields: this.filterData,
        filterFieldsData: this.getFieldsData(),
        fieldsValue: {}
      }
    },
    methods: {
      getFieldsData () {
        const filterFieldsData = {}

        /*
        * Loop on filter data
        */
        for (let y = 0; y < this.filterData.length; y++) {
          let model = this.filterData[y].model

          filterFieldsData[model] = []

          /*
          * Loop on content data
          */
          for (let z = 0; z < this.initialViewData.length; z++) {
            const item = this.initialViewData[z]
            const itemProp = _.get(item, model)

            const splitPath = Voca.split(this.filterData[y].queryPath, /\./)
            const prop = splitPath[splitPath.length - 1]

            /*
            * Loop on items
            */
            for (let k = 0; k < itemProp.length; k++) {
              if (filterFieldsData[model].indexOf(itemProp[k][prop]) === -1) {
                filterFieldsData[model].push(itemProp[k][prop])
              }
            }
          }
        }

        return filterFieldsData
      },
      /*
      * Get filter data
      */
      setFormData (model, value, queryPath) {
        this.fieldsValue[model] = {
          value,
          queryPath
        }

        this.$emit('setViewsData', this.fieldsValue)
      }
    },
    watch: {
      filterData (value) {
        this.filterFields = value
      }
    }
  })
</script>

<style lang="scss">

</style>
