<template>
  <div class="author-users df-center-y">
    <img :src="heritedData.image" :alt="`${heritedData.firstname} ${heritedData.lastname}`">

    <div class="user-author__content">
      <a href="#" class="user-author__name">{{ heritedData.firstname }} {{ heritedData.lastname }}</a>
      <p class="user-author__role">{{ heritedData.function }}</p>
      <p class="user-author__structure">FMCG & AGRI</p>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'author-users'
  }
</script>

<style lang="scss" src="~insideDisplays/users/author.scss"></style>
