<template>
  <div class="header-users" @mouseover="setState(true)" @mouseout="setState(false)" @click="setState()">
    <div class="header-users__img">
      <img v-if="getUserInfos" :src="getUserInfos.image" :alt="`${getUserInfos.firstname} ${getUserInfos.lastname}`">
    </div>

    <transition name="fadeIn">
      <div class="header-users__content" v-if="showUserInfos">
        <div class="header-users__infos df-center-y">
          <div v-if="getUserInfos">
            <p>{{ getUserInfos.firstname }} {{ getUserInfos.lastname }}</p>
            <p>{{ getUserInfos.function }}</p>
          </div>
        </div>

        <ul class="header-users__menu">
          <li>
            <a href="#" class="df-center-y">
              <i class="sid2-profile"></i> <span>Mon profil</span>
            </a>
          </li>

          <li>
            <a href="#" class="df-center-y">
              <i class="sid2-star"></i> <span>Mes favoris</span>
            </a>
          </li>

          <li>
            <a href="#" class="df-center-y">
              <i class="sid2-tools"></i> <span>Mon outils</span>
            </a>
          </li>

          <li>
            <a href="#" class="df-center-y">
              <i class="sid2-settings"></i> <span>Mes préférences</span>
            </a>
          </li>

          <li class="header-users--logout" @click="logoutUser">
            <a class="df-center-y">
              <i class="sid2-logout"></i> <span>Me déconnecter</span>
            </a>
          </li>
        </ul>
      </div>
    </transition>
  </div>
</template>

<script>
  export default {
    name: 'header-users',
    data () {
      return {
        showUserInfos: false
      }
    },
    methods: {
      setState (state) {
        if (typeof state === 'boolean' && !this.getTouchable) {
          this.showUserInfos = state
        } else if (typeof state !== 'boolean' && this.getTouchable) {
          this.showUserInfos = !this.showUserInfos
        }
      },
      logoutUser () {
        this.post('authentication/logout', {
          email: this.getStore('getUserInfos').email
        }).then(() => {
          this.destroySession(this)
        })
      }
    }
  }
</script>

<style lang="scss" src="~insideDisplays/users/header.scss"></style>
