<template>
  <div class="login-users df-center-xy">
    <div class="login-users__header-mobile df-center-x" v-if="getTablet">
      <image-ui path="logos/logo.png"></image-ui>
    </div>

    <div class="login-users__content df-center-y">
      <img v-if="!getTablet" src="https://images.unsplash.com/photo-1470020337050-543c4e581988?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=eef0ea4a9a5e7230f4d40237f6ca9042&auto=format&fit=crop&w=1350&q=80" alt="">
      <div class="login-users__photo" v-else :style="{ background: 'url(https://images.unsplash.com/photo-1470020337050-543c4e581988?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=eef0ea4a9a5e7230f4d40237f6ca9042&auto=format&fit=crop&w=1350&q=80) no-repeat center center' }"></div>

      <div class="login-users__form">
        <image-ui v-if="!getTablet" path="logos/logo_icon.png"></image-ui>

        <transition name="fadeIn" mode="out-in">
          <div class="login-users__log" v-if="!showForgetPassword" :key="showForgetPassword">
            <p class="login-users__title" v-if="!getTablet">Connectez-vous !</p>

            <global-form :options="{ request: 'authentication/login' }" :steps="['request']" @callbackFunction="getResultLogin">
              <template slot="fields">
                <input-text model="email"
                                 label="Email"
                                 rules="required"
                                 display="absolute">
                </input-text>

                <input-password model="password"
                                    label="Mot de passe"
                                    rules="required"
                                    display="absolute">
                </input-password>

                <input-checkbox model="userremember"
                                    :inputData="[{ label: 'Se souvenir de moi', value: true }]">
                </input-checkbox>
              </template>

              <div class="login-users__error" slot="error">
                <p v-if="requestError">{{ requestError }}</p>
              </div>

              <div class="login-users__submit df-center-y" slot="validate">
                <a @click="showForgetPassword = true">Mot de passe oublié ?</a>
                <input class="btn" type="submit" value="Connexion">
              </div>
            </global-form>
          </div>

          <div v-else class="login-users__forget" :key="showForgetPassword">
            <p class="login-users__title">Mot de passe oublié ?</p>
            <p>Ça arrive à tout le monde ! Nous allons vous envoyer la marche à suivre par e-mail. C'est simple et rapide.</p>

            <global-form :steps="['request']" @callbackFunction="tmpLostPwd">
              <template slot="fields">
                <input-email model="usernewmail"
                                 label="Email"
                                 rules="required"
                                 display="absolute">
                </input-email>
              </template>

              <div class="login-users__submit df-center-y" slot="validate">
                <a @click="showForgetPassword = false">Annuler</a>
                <input class="btn" type="submit" value="Envoyer">
              </div>
            </global-form>
          </div>
        </transition>
      </div>
    </div>

    <div class="login-users__inside df-center-y">
      <p>Création</p>
      <image-ui path="logos/logo_inside_login.png"></image-ui>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'login-users',
    data () {
      return {
        modelField: {
          email: null,
          password: null
        },
        showForgetPassword: false,
        requestError: null,
        content: 'users',
        filters: {
          uuid: null
        },
        fields: ['firstname', 'lastname', 'function', 'image']
      }
    },
    methods: {
      /*
      * Callback for global form
      */
      getResultLogin (result) {
        console.log(result)
        if (!result) {
          return
        }

        if (result.status === 200) {
          this.requestError = null
          this.sendRequest(result.body.data)
        } else {
          this.requestError = result.body.error
        }
      },
      callBackUser (loginData, userData) {
        const user = Object.assign({}, loginData, userData)
        this.setStoreAction('setUserInfos', user)
        this.initializeSession(this, user)
      },
      sendRequest (userData) {
        this.filters.uuid = userData.uuid

        this.get(`content/${this.content}`, {
          params: {
            filters: JSON.stringify(this.filters),
            fields: JSON.stringify(this.fields)
          }
        }).then((res) => {
          if (res.ok) {
            this.callBackUser(userData, res.body.data[0])
          }
        })
      }
    }
  }
</script>

<style lang="scss" src="~insideDisplays/users/login.scss"></style>
