<template>
  <div class="shortcuts-users">
    <p class="shortcuts-users__title">{{ tr('myshortcuts') }} <a href="#"><i class="sid2-settings"></i></a></p>

    <ul class="shortcuts-users__content">
      <li>
        <a href="#">
          <i class="sid2-folder"></i> <span>{{ tr('suggestionsbox') }}</span>
        </a>
      </li>

      <li>
        <a href="#">
          <i class="sid2-calendar"></i> <span>{{ tr('meetingroom') }}</span>
        </a>
      </li>

      <li>
        <a href="#">
          <i class="sid2-sun"></i> <span>{{ tr('askvacations') }}</span>
        </a>
      </li>

      <li>
        <a href="#">
          <i class="sid2-photo"></i> <span>{{ tr('photogallery') }}</span>
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
  export default {
    name: 'shortcuts-users'
  }
</script>

<style lang="scss" src="~insideDisplays/users/shortcuts.scss"></style>
