<template>
  <a href="#" class="socials block-socials df-center-xy">
    <span class="block-socials__bg" :style="{ background: 'url(http://leobrossault.fr/sid2/social-block.jpg) center center' }"></span>

    <div class="block-socials__content df-center-y">
      <i class="sid2-linkedin"></i>
      <p>Suivez nous sur Linkedin</p>
    </div>
  </a>
</template>

<script>
  export default {
    name: 'block-socials'
  }
</script>

<style lang="scss" src="~insideDisplays/socials/block.scss"></style>
