<template>
  <div class="socials feed-socials">
    <h3>Suivez-nous</h3>

    <div class="feed-socials__content">
      <div>
        <img src="http://leobrossault.fr/sid2/social-feed.png" alt="Social">
      </div>

      <div>
        <a href="#" class="feed-socials__title">Inside <span>@IntranetInside</span></a>
        <p class="feed-socials__text">Merci à <a href="#">@archimagredac</a> dans son magazine numéro 301 de nous avoir cité parmi les meilleures solutions intranet !</p>

        <div class="feed-socials__footer df-center-y">
          <div class="feed-socials__nav df-center-y">
            <button class="btn-reset btn-nav--bg">
              <i class="sid2-arrow"></i>
            </button>

            <button class="btn-reset btn-nav--bg">
              <i class="sid2-arrow"></i>
            </button>
          </div>

          <a href="#" class="link-arrow"><i class="sid2-twitter"></i> Suivez-nous sur Twitter</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'feed-socials'
  }
</script>

<style lang="scss" src="~insideDisplays/socials/feed.scss"></style>
