<template>
  <div class="shortcuts-socials df-center-y">
    <a href="#" class="df-center-y">
      <i class="sid2-facebook"></i>
      <p>Facebook</p>
    </a>

    <a href="#" class="df-center-y">
      <i class="sid2-twitter"></i>
      <p>Twitter</p>
    </a>

    <a href="#" class="df-center-y">
      <i class="sid2-insta"></i>
      <p>Instagram</p>
    </a>

    <a href="#" class="df-center-y">
      <i class="sid2-mail"></i>
      <p>Contact</p>
    </a>
  </div>
</template>

<script>
  export default {
    name: 'shortcuts-socials'
  }
</script>

<style lang="scss" src="~insideDisplays/socials/shortcuts.scss"></style>
