<template>
  <form class="global-form" @submit.prevent="validateForm">
    <transition name="fadeIn" mode="out-in">
      <!-- Form fields -->
      <div class="global-form__fields" v-if="formStatus === 'fields'" :key="formStatus">
        <slot name="fields"></slot>

        <slot name="error"></slot>

        <div class="global-form__fields__validate">
          <slot name="validate"></slot>

          <input type="submit" value="Validate" v-if="!hasFormSubmit">
        </div>
      </div>

      <!-- Form success -->
      <div class="global-form__success" v-if="formStatus === 'success'" :key="formStatus">
        <slot name="success"></slot>
      </div>

      <!-- Form loader -->
      <div class="global-form__loading" v-if="formStatus === 'loading'" :key="formStatus">
        <loader-common></loader-common>
      </div>
    </transition>
  </form>
</template>

<script>
  import VeeValidate from 'vee-validate'
  import Vue from 'vue'

  Vue.use(VeeValidate)

  export default Vue.component('global-form', {
    name: 'global-form',
    props: {
      /*
      * Available steps : request, dom, redirect, modal
      */
      steps: {
        type: Array,
        default: () => {
          return ['request', 'redirect']
        }
      },
      options: {
        type: Object,
        default: () => {
          return {
            loader: false,
            request: false
          }
        }
      }
    },
    data () {
      return {
        formStatus: 'fields',
        showFieldsErrors: false,
        formErrors: {},
        formData: {},
        currentStep: -1,
        requestResult: null
      }
    },
    methods: {
      /*
      * Get all fields errors
      */
      setFormErrors (model, errors) {
        if (Object.keys(errors).length === 0) {
          delete this.formErrors[model]
        } else {
          this.formErrors[model] = Object.assign({}, errors)
        }
      },
      /*
      * Get fields data
      */
      setFormData (model, data) {
        this.formData[model] = data
      },
      /*
      * Submit form
      */
      validateForm () {
        this.currentStep = -1
        this.showFieldsErrors = false

        this.$nextTick(() => {
          if (Object.keys(this.formErrors).length > 0) {
            /*
            * Has errors
            */
            this.showFieldsErrors = true
          } else {
            /*
            * It's ok
            */
            this.showFieldsErrors = false
            this.formNextStep()
          }
        })
      },
      /*
      * Getter for children components
      */
      getShowFieldsErrors () {
        return this.showFieldsErrors
      },
      /*
      * Steps system
      */
      formNextStep () {
        this.currentStep++

        if (this.steps[this.currentStep]) {
          const currentStepLabel = this.steps[this.currentStep]

          if (currentStepLabel === 'request') {
            this.sendFormRequest()
          } else if (currentStepLabel === 'dom') {
            this.setDOM()
          } else if (currentStepLabel === 'modal') {
            this.closeFormModal()
          } else if (currentStepLabel === 'redirect') {
            this.redirectForm()
          }
        } else {
          this.$emit('callbackFunction', this.requestResult)
        }
      },
      /*
      * Form steps after validation
      *
      * Send form request
      */
      sendFormRequest () {
        /*
        * Make request with form data
        */
        this.post(this.options.request, this.formData).then((res) => {
          this.requestResult = res

          if (res.status === 200) {
            this.formNextStep()
          } else {
            this.$emit('callbackFunction', this.requestResult)
          }
        })
      },
      /*
      * Set DOM in current page
      */
      setDOM () {
        this.formNextStep()
      },
      /*
      * Redirect to another page
      */
      redirectForm () {
        console.log('redirect')
      },
      /*
      * Close current modal
      */
      closeFormModal () {
        console.log('close modal')
        this.formNextStep()
      }
    },
    computed: {
      /*
      * Check if submit slot exist
      */
      hasFormSubmit () {
        return !!this.$slots['validate']
      }
    }
  })
</script>

<style lang="scss" src="~insideDisplays/library/forms/forms.scss"></style>
