.footer-common {
  position: relative;
  justify-content: space-between;

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 18px;
    background: linear-gradient(90deg, color(gradients, a), color(gradients, b));
    content: '';
  }

  img {
    display: block;
    max-width: 100px;
  }

  p,
  a {
    color: color(basics, black);
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    @include transition(color .4s);

    &:hover {
      color: color(mains, primary);
    }
  }
}

.footer-common--left {
  .langs-ui {
    margin-right: 40px;
  }

  > a {
    margin-right: 30px;
    text-transform: uppercase;
    color: color(texts, b);
    letter-spacing: 0.15em;
    @include fontSize(12);
    @include transition(color .4s);

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: color(mains, secondary);
    }
  }
}
