header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include tablet {
    padding: 18px 0;
  }
}

.header__user-action {
  margin-left: 38px;

  > a {
    margin-right: 18px;
    @include fontSize(23);
    @include transition(color .4s);

    &:hover {
      color: color(mains, primary);
    }

    &:last-child {
      margin-right: 0;
    }

    @include tablet {
      @include fontSize(25);
    }
  }

  .sid2-search {
    @include fontSize(19);
  }

  @include tablet {
    margin-left: 0;
  }
}

.header__logo {
  .img--svg {
    width: 120px;
  }
}

/*
* Responsive
*/

@include tablet {
  .header__right {
    justify-content: flex-end;
    width: calc(50% - 55px);
  }

  .header__logo {
    width: 110px;
  }
}
