/*
* Main menu
*/
.menu-common__lvl1 {
  @include desktop-only {
    display: flex;
    align-items: center;
  }

  a {
    display: block;
    @include transition(all .4s);
  }

  > li {
    position: relative;

    @include desktop-only {
      padding: 28px 0;
      margin-right: 55px;
    }

    @include tablet {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    > a {
      color: color(texts, c);
      text-decoration: none;
      @include fontSize(16);

      &:hover,
      &.router-link-active {
        color: color(mains, primary);
      }

      @include tablet {
        padding: 10px 0;
        text-align: center;

        span {
          position: relative;
        }

        i {
          position: absolute;
          top: calc(50% + 2px);
          right: -20px;
          color: color(mains, primary);
          transform: translateY(-50%) rotate(90deg);
          @include fontSize(13);
        }
      }

      @include tablet-to-mobile {
        @include fontSize(18);
      }
    }
  }
}

/*
* All submenus
*/
.menu-common__submenu {
  position: absolute;
}

/*
* First submenu
*/
.menu-common__lvl2 {
  top: 100%;
  left: 0;
  width: 140px;
  padding: 10px 20px;
  background: color(mains, primary);

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 4px;
    background: color(mains, primary);
    transform: translateY(-100%);
    content: '';
  }

  > li {
    border-bottom: 1px solid rgba(color(basics, white), .4);

    &:last-child {
      border-bottom: 0;
    }

    > a {
      padding: 10px 0;
      color: color(basics, white);
      @include fontSize(13);

      &:hover {
        opacity: .6;
      }
    }
  }
}
