.mobile-header-common {
  position: fixed;
  top: 84px;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  border-top: 1px solid color(inputs, a);
  background: color(basics, white);
  overflow: auto;

  /*
  * Socials
  */
  .socials-shortcuts-s2m {
    justify-content: center;

    p {
      display: none;
    }

    @include tablet-to-mobile {
      i {
        color: color(mains, primary);

        &.sid2-insta { @include fontSize(30); }
        &.sid2-facebook { @include fontSize(33); }
        &.sid2-mail { @include fontSize(28); }
        &.sid2-twitter { @include fontSize(28); }
      }
    }
  }
}

/*
* Search
*/
.mheader-common__search {
  position: relative;

  input {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    border: 0;
    @include box-shadow(0, 0, 2px, rgba(color(basics, black), .2));
  }

  i {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    @include fontSize(26);
  }
}

/*
* Footer
*/
.mheader-common__footer {
  justify-content: space-between;
}

.mheader-common__creation {
  p {
    margin-right: 8px;
    color: color(texts, a);
    @include fontSize(15);
  }

  img {
    max-width: 60px;
  }
}
