.langs-ui {
  position: relative;
  width: 40px;
  color: color(texts, b);
  text-transform: uppercase;
  @include fontSize(12);

  &--toTop ul {
    bottom: 100%;
  }

  &--toBot ul {
    top: 100%;
  }

  ul {
    position: absolute;
    right: 0;
    left: 0;
    background: color(basics, white);
  }

  li {
    padding: 3px 0;
    cursor: pointer;
    @include transition(color .4s);

    &:hover {
      color: color(texts, c);
    }
  }
}

.langs-ui__current {
  position: relative;
  padding: 5px 0;
  border-bottom: 1px solid color(texts, c);

  &::after {
    position: absolute;
    top: 50%;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0;
    border-color: color(texts, b) transparent transparent transparent;
    transform: translateY(-50%);
    content: '';
  }
}
