.like-ui {
  @include transition(color .4s);

  i {
    cursor: pointer;
    @include fontSize(16);

    &.sid2-like-fill {
      color: color(mains, fourth);
    }
  }

  &__unliked,
  &__counter {
    margin-left: 5px;
    color: color(texts, c);
    cursor: pointer;
    @include fontSize(16);
    @include transition(color .4s);
  }

  &__liked {
    margin-left: 5px;

    img {
      position: relative;
      width: 28px;
      height: 28px;

      ~ img {
        margin-left: -12px;
        opacity: .5;
      }

      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          z-index: 4 - $i;
        }
      }
    }

    p {
      margin-left: 10px;
      color: color(texts, c);
      @include fontSize(16);
    }
  }

  @include custom-break-min(#{map-get($breakpoints, mobile)}) {
    &:hover {
      color: color(mains, secondary);

      .like-ui__unliked {
        color: color(mains, secondary);
      }
    }
  }
}
