.block-socials {
  position: relative;
  width: 100%;
  min-width: 150px;
  padding: 90px 15px;
  overflow: hidden;

  &::after {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: color(basics, black);
    opacity: .5;
    content: '';
  }

  &:hover .block-socials__bg {
    transform: scale(1.3);
  }
}

.block-socials__bg {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover !important;
  @include transition(transform 5s);
}

.block-socials__content {
  position: relative;
  z-index: 5;

  i {
    margin-right: 15px;
    color: color(mains, primary);
    @include fontSize(26);
  }

  p {
    color: color(basics, white);
    @include fontSize(16);
  }
}
