.feed-socials {
  h3 {
    margin-bottom: 20px;
  }
}

.feed-socials__content {
  display: flex;
  align-items: flex-start;
  padding: 40px;
  background: color(basics, white);
  @include box-shadow(0, 1px, 6px, rgba(color(basics, black), .12));

  > div:first-child {
    width: 80px;
    margin-right: 25px;

     + div {
       width: calc(100% - 105px);
     }
  }
}

.feed-socials__title {
  margin-bottom: 5px;
  line-height: 1.5;
  color: color(texts, c);
  font-weight: 600;
  @include fontSize(16);

  span {
    position: relative;
    top: -1px;
    color: color(texts, d);
    font-weight: normal;
    @include fontSize(14);
  }
}

.feed-socials__text {
  margin-bottom: 10px;
  color: color(texts, c);
  line-height: 24px;
  @include fontSize(16);

  a {
    color: color(socials, twitter);
    @include transition(color .4s);

    &:hover {
      color: color(mains, primary);
    }
  }
}

.feed-socials__footer {
  justify-content: space-between;

  .link-arrow {
    i {
      @include fontSize(20);
    }
  }
}

.feed-socials__nav {
  button:first-child {
    margin-right: 5px;

    i {
      transform: scaleX(-1);
    }
  }
}
