.shortcuts-socials {
  a {
    margin-right: 40px;
    color: color(texts, c);
    @include transition(color .4s);

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: color(mains, secondary);
    }
  }

  p {
    margin-left: 8px;
    line-height: 1;
    @include fontSize(16);
  }

  .sid2-facebook {
    @include fontSize(17);
  }

  .sid2-insta {
    @include fontSize(17);
  }
}
