.global-form {
  label {
    color: color(texts, c);
    @include fontSize(14);
  }

  input[type=text],
  input[type=email],
  input[type=phone],
  input[type=password] {
    height: 42px;
    color: color(texts, c);
    outline: none;
    border: 0;
    border-bottom: 1px solid rgba(color(basics, black), .42);
    @include fontSize(16);
  }

  .input__fail {
    margin-top: 10px;
    color: color(actions, error);
  }
}

/*
* Input displays
*/
.input--block {
  label,
  input {
    display: block;
    width: 100%;
  }
}

.input--inline {
  display: flex;
  align-items: center;

  label {
    margin-right: 15px;
  }
}

.input--absolute {
  position: relative;
  padding-top: 15px;

  label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(25px);
    pointer-events: none;
    @include fontSize(16);
    @include transition(all .4s);
  }

  input {
    width: 100%;
  }

  &.input--focused,
  &.input--filled {
    label {
      opacity: .54;
      transform: translateY(0);
      @include fontSize(12);
    }
  }
}

/*
* Input radios and checkbox
*/
.input__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.input__single {
  margin-left: 15px;

  &:first-child {
    margin-left: 0;
  }

  label {
    position: relative;
    padding-left: 25px;

    i {
      position: absolute;
      z-index: 5;
      top: calc(50% + 1px);
      left: 50%;
      opacity: 0;
      color: color(basics, white);
      transform: translate(-50%, -50%);
      @include fontSize(10);
      @include transition(opacity .4s);
    }
  }

  input {
    display: none;

    &:checked + label {
      .input__single__box {
        &::after {
          transform: translate(-50%, -50%) scale(1.5);
        }
      }

      i {
        opacity: 1;
      }
    }
  }

  .input__single__box {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border: 1px solid color(mains, primary);
    border-radius: 3px;
    overflow: hidden;

    &::after {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      background: color(mains, primary);
      border-radius: 100%;
      transform: translate(-50%, -50%) scale(0);
      content: '';
      @include transition(all .4s);
    }
  }
}
