/*
* Reset button
*/

.btn-reset {
  padding: 0;
  background: none;
  border: 0;
  outline: none;
}

/*
* Button styles
*/

.btn {
  padding: 14px 25px;
  outline: none;
  color: color(basics, white);
  background: color(mains, primary);
  border-color: color(mains, primary);
  border-radius: 5px;
  cursor: pointer;
  @include fontSize(16);
  @include transition(all .4s);

  &:hover {
    color: color(mains, primary);
    background: color(basics, white);
  }
}

.btn-nav {
  &--bg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: color(mains, primary);
    border: 1px solid color(mains, primary);
    @include transition(all .4s);

    i {
      color: color(basics, white);
      @include fontSize(13);
      @include transition(color .4s);
    }

    &:hover {
      background: color(basics, white);

      i {
        color: color(mains, primary);
      }
    }
  }
}

.btn-add,
.btn-delete {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  color: color(basics, white);
  cursor: pointer;
  @include transition(background .4s);
  @include fontSize(13);

  &:hover {

    background: color(basics, white);
  }
}

.btn-add {
  background: color(admin, a);
  border: 1px solid color(admin, a);

  &:hover {
    color: color(admin, a);
  }
}

.btn-delete {
  background: color(actions, error);
  border: 1px solid color(actions, error);

  &:hover {
    color: color(actions, error);
  }
}
