.list-view__filters > div {
  @include mobile {
    justify-content: center;
    width: 90%;
  }
}

.filters {
  > * {
    @include custom-break-min(#{map-get($breakpoints, mobile)}) {
      display: inline-block;
      width: 255px;
      margin-right: 25px;

      &:last-child {
        margin-right: 0;
      }
    }

    @include mobile {
      width: 100%;
      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  select {
    position: relative;
    width: 100%;
    height: 30px;
    color: color(inputs, a);
    background: none;
    appearance: none;
    border: 0;
    border-bottom: 1px solid color(inputs, a);
    border-radius: 0;
    outline: none;
    @include fontSize(16);

    &::after {
      content: '';
    }
  }
}

.filters--select {
  position: relative;

  &::after {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0;
    border-color: color(inputs, a) transparent transparent transparent;
    transform: translateY(-50%);
    content: '';
  }
}
