<template>
  <div class="capsule-news df-center-y" v-if="heritedData" v-responsive="{ medium: el => el.width <= 1000 && el.width >= 650, small: el => el.width < 650 }">
    <div>
      <div class="capsule-news__header">
        <p class="capsule-news__cat">
          <span v-for="cat in heritedData[0].themes">{{ cat.title }}</span>
        </p>
        <h1 class="capsule-news__title capsule-title">
          <router-link to="/">{{ heritedData[0].title }}</router-link>
        </h1>
      </div>

      <router-link to="/" class="capsule-news__text" v-html="heritedData[0].chapo"></router-link>

      <div class="capsule-news__actions df-center-y">
        <like-ui></like-ui>

        <!--<comment-ui display="preview"></comment-ui>-->
      </div>
    </div>

    <div class="capsule-news__picture">
      <!--<img v-if="heritedData[0].image" :src="heritedData[0].image" :alt="heritedData[0].title">-->
      <router-link to="/" class="capsule-news__bg" :style="{ background: `url(${heritedData[0].image}) no-repeat center center` }"></router-link>

      <div class="capsule-news__date">
        <p class="capsule-news__date__day">{{ setDateFormat(heritedData[0].created_at, 'd') }}</p>
        <p class="capsule-news__date__month">{{ setDateFormat(heritedData[0].created_at, 'MMM') }}</p>
        <p class="capsule-news__date__year">{{ setDateFormat(heritedData[0].created_at, 'Y') }}</p>
      </div>
    </div>
  </div>
</template>

<script>
  import CapsuleNews from '~moduleDirectory/inside-news/displays/CapsuleNews'

  export default {
    name: 'capsule-news',
    extends: CapsuleNews
  }
</script>
