<template>
  <div>
    <transition name="fadeInLoader">
      <div class="page-builder__loader" v-if="isLoading">
        <loader-ui></loader-ui>
      </div>
    </transition>

    <component :is="currentLayout" :display="display" v-if="!layoutFailed">
      <template v-if="display === 'specific'">
        <template slot="content">
          <component v-if="compName" :is="compName"></component>
          <div v-else>No component found</div>
        </template>
      </template>

      <template v-else>
        <header-common slot="header"></header-common>

        <mobile-header-common slot="mobile-header"></mobile-header-common>

        <template slot="content">
          <row-builder></row-builder>
        </template>

        <footer-common slot="footer"></footer-common>
      </template>
    </component>

    <error-page v-else></error-page>

    <page-builder-ui @layoutReady="setLoadingState" @layoutFailed="setLayoutFailed"></page-builder-ui>
  </div>
</template>

<script>
  import Vue from 'vue'
  import Builders from './element-builder'
  import ErrorPage from './specifics/ErrorPage'
  import PageBuilderUi from './tools/PageBuilderUI'
  import Tools from './tools'

  export default Vue.component('page-builder', {
    props: ['display', 'compName'],
    components: {
      ErrorPage,
      PageBuilderUi,
      ...Builders,
      ...Tools
    },
    data () {
      return {
        currentLayout: `${process.env.GLOBAL.layout}-layouts`,
        isLoading: true,
        layoutFailed: false
      }
    },
    methods: {
      setLoadingState (value) {
        this.isLoading = value
      },
      setLayoutFailed () {
        this.isLoading = false
        this.layoutFailed = true
      }
    }
  })
</script>

<style lang="scss">
  .page-builder__loader {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: color(basics, white);

    .loader-ui {
      width: 200px;
    }
  }

  .pb__btn {
    width: 30px;
    height: 30px;
    color: color(basics, white);
    background: color(admin, a);
    border: 1px solid color(admin, a);
    border-radius: 20px;
    @include fontSize(12);
    @include transition(all .4s);

    &:hover {
      color: color(admin, a);
      background: color(basics, white);
    }

    &-edit-layout {
      background: color(admin, b);
      border: 1px solid color(admin, b);

      &:hover {
        color: color(admin, b);
      }
    }
  }

  .tippy-tooltip.side-theme {
    min-height: 150px;
    padding: 20px 20px 30px;
    border: 1px solid color(admin, a);
    background: color(basics, white);
    text-align: left;
    @include fontSize(15);
  }

  .tippy-popper[x-placement^=bottom] .tippy-arrow {
    border-bottom: 7px solid color(admin, a);
  }

  .tippy-popper[x-placement^=top] .tippy-arrow {
    border-top: 7px solid color(admin, a);
  }
</style>
