<template>
  <div class="layout layout-horizontal" :class="`layout-horizontal--${display}`">
    <div class="layout-horizontal__header" v-if="hasSlotContent('header')">
      <slot name="header"></slot>
      <slot name="mobile-header"></slot>
    </div>

    <div class="layout-horizontal__content">
      <slot name="content"></slot>
    </div>

    <slot name="footer" v-if="hasSlotContent('footer')"></slot>
  </div>
</template>

<script>
  export default {
    name: 'horizontal-layouts',
    props: ['display'],
    methods: {
      hasSlotContent (slotName) {
        return this.$slots[slotName]
      }
    }
  }
</script>

<style lang="scss" src="~insideDisplays/layouts/horizontal.scss"></style>
