<template>
  <div class="skeleton__container">
    <component :is="`skeleton-block-${heritedData.tpl}`"></component>
  </div>
</template>

<script>
  import SkeletonTpl from './templates'

  export default {
    name: 'SkeletonBlock',
    components: SkeletonTpl
  }
</script>

<style lang="scss">
  .skeleton__container {
    padding: 10px;
  }

  .skeleton-bg {
    position: relative;
    overflow: hidden;
    background: color(skeletons, bg);
    border-radius: 20px;

    + .skeleton-bg {
      margin-top: 10px;
    }

    &--big {
      height: 300px;
    }

    &--medium {
      width: 70%;
      height: 20px;
    }
  }

  /* .skeleton__line {
    position: absolute;
    top: 0;
    width: 50px;
    height: 100%;
    background: linear-gradient(90deg, color(skeletons, bg) 30%, rgba(color(basics, white), .5) 50%, color(skeletons, bg) 70%);
    animation: animateSkeleton 1.5s linear infinite;
  }

  @keyframes animateSkeleton {
    0% {
      left: -20px;
    }

    100% {
      left: 100%;
    }
  } */
</style>
