/*
* Fonts
*/
@mixin fontSize($sizeValue: 1.6) {
  font-size: ($sizeValue * 1) + px;
  font-size: ($sizeValue / 10) + rem;
}

/*
* Colors
*/
@function color($color, $tone: 'base') {
  @return map-get(map-get($colors, $color), $tone);
}

/*
* Transition
*/
@mixin transition($args) {
  transition: $args ease-in-out;
}

/*
* Box Shadow
*/
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    box-shadow: inset $top $left $blur $color;
  } @else {
    box-shadow: $top $left $blur $color;
  }
}

/*
* Media queries
*/

@mixin custom-break($break) {
  @media only screen and (max-width: $break) {
    @content;
  }
}

@mixin custom-break-between($breakstart, $breakend) {
  @media only screen and (max-width: $breakstart) and (min-width: $breakend) {
    @content;
  }
}

@mixin custom-break-min($break) {
  @media only screen and (min-width: $break) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (max-width: #{map-get($breakpoints, smallDesktop)}) {
    @content;
  }
}

@mixin desktop-only {
  @media only screen and (min-width: #{map-get($breakpoints, tablet)}) {
    @content;
  }
}

@mixin desktop-to-tablet {
  @media only screen and (max-width: #{map-get($breakpoints, smallDesktop)}) and (min-width: #{map-get($breakpoints, tablet)}) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: #{map-get($breakpoints, tablet)}) {
    @content;
  }
}

@mixin tablet-to-mobile {
  @media only screen and (max-width: #{map-get($breakpoints, tablet)}) and (min-width: #{map-get($breakpoints, mobile)}) {
    @content;
  }
}

@mixin no-mobile {
  @include custom-break-min(#{map-get($breakpoints, mobile)}) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: #{map-get($breakpoints, mobile)}) {
    @content;
  }
}
