<template>
  <button class="bookmark-ui btn-reset" @click="setBookmarkState">
    <i class="sid2-bookmark"></i>

    <transition name="fadeIn">
      <i class="sid2-bookmark-fill" v-if="isBookmarked"></i>
    </transition>
  </button>
</template>

<script>
  export default {
    name: 'bookmark-ui',
    data () {
      return {
        isBookmarked: false
      }
    },
    methods: {
      setBookmarkState () {
        this.isBookmarked = !this.isBookmarked
      }
    }
  }
</script>

<style lang="scss" scoped src="~insideDisplays/library/ui/bookmark.scss"></style>
