<template>
  <button v-if="behaviour === 'modal'" class="btn-base" @click="triggerModal('events-add-modal', { maData: 'coucou' })">{{ value }}</button>
  <button v-else class="btn-base">{{ value }}</button>
</template>

<script>
  export default {
    name: 'button-base-ui',
    props: {
      value: {
        type: String,
        default: 'Mon btn'
      },
      /*
      * Indic link, modal
      */
      behaviour: {
        type: String,
        default: 'link'
      }
    }
  }
</script>

<style scoped>

</style>
