<template>
  <div class="hr-ui df-center-xy">
    <i class="sid2-hr"></i>
  </div>
</template>

<script>
  export default {
    name: 'hr-ui'
  }
</script>

<style lang="scss" src="~insideDisplays/library/ui/hr".scss"></style>
