<template>
  <img v-if="!badPath && getImage" :src="getImage" :alt="altText" :class="getImage.indexOf('svg') > -1 ? 'img--svg' : 'img--default'">
</template>

<script>
  export default {
    name: 'image-ui',
    props: {
      path: {
        type: String,
        default: ''
      },
      altText: {
        type: String,
        default: ''
      }
    },
    data () {
      return {
        badPath: false
      }
    },
    computed: {
      getImage () {
        try {
          return require(`~instanceCustom/assets/img/${this.path}`)
        } catch (ex) {
          try {
            /*
            * Check if core has image
            */
            return require(`~insideLibrary/assets/img/${this.path}`)
          } catch (ex) {
            this.badPath = true
          }
        }
      }
    }
  }
</script>
