<template>
  <div class="langs-ui" :class="[heritedOptions.toTop ? 'langs-ui--toTop' : 'langs-ui--toBot', { 'langs-ui--open': showLangsMenu }]" @mouseover="showLangsMenu = true" @mouseout="showLangsMenu = false">
    <div class="langs-ui__current">
      {{ langModel }}
    </div>

    <transition name="fadeIn">
      <ul v-if="showLangsMenu">
        <li :class="langModel === 'en' ? 'lang-ui__disable' : ''" @click="setLang('en')">EN</li>
        <li :class="langModel === 'fr' ? 'lang-ui__disable' : ''" @click="setLang('fr')">FR</li>
      </ul>
    </transition>
  </div>
</template>

<script>
  import Cookie from 'js-cookie'

  export default {
    name: 'langs-ui',
    data () {
      return {
        langModel: this.getStore('getCurrentLang'),
        showLangsMenu: false
      }
    },
    methods: {
      setLang (value) {
        this.langModel = value
        this.setStoreAction('setCurrentLang', value)

        Cookie.set('currentLang', value)
      }
    }
  }
</script>

<style lang="scss" src="~insideDisplays/library/ui/langs.scss"></style>
