<template>
  <div class="like-ui df-center-y">
    <transition name="fadeIn" mode="out-in">
      <i v-if="!isLiked" :key="isLiked" class="sid2-like" @click="isLiked = true"></i>
      <i v-else :key="isLiked" class="sid2-like-fill" @click="isLiked = false"></i>
    </transition>

    <template v-if="heritedOptions.display === 'full'">
      <transition name="fadeIn" mode="out-in">
        <p class="like-ui__unliked capitalize" v-if="!isLiked" :key="isLiked" @click="isLiked = true">{{ tr('like') }}</p>

        <div class="like-ui__liked df-center-y" v-else :key="isLiked">
          <img src="http://leobrossault.fr/sid2/comment-user-2.png" alt="">
          <img src="http://leobrossault.fr/sid2/comment-user.png" alt="">

          <p v-if="!getMobile"><span class="capitalize">{{ tr('you') }}</span> {{ tr('and') }} Franck Carter {{ tr('likeThis') }}.</p>
        </div>
      </transition>
    </template>

    <template v-else>
      <p class="like-ui__counter">{{ likeCounter }}</p>
    </template>
  </div>
</template>

<script>
  /*
  * Available displays:
  * - preview
  * - full
  */
  export default {
    name: 'like-ui',
    data () {
      return {
        isLiked: false,
        likeCounter: 0
      }
    },
    watch: {
      isLiked (value) {
        this.likeCounter = value ? this.likeCounter + 1 : this.likeCounter - 1
      }
    }
  }
</script>

<style lang="scss" src="~insideDisplays/library/ui/like.scss"></style>
