<template>
  <div class="loader-ui">
    <svg class="loader-ui__circle" viewBox="25 25 50 50">
      <circle class="loader-ui__path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
  </div>
</template>

<script>
  export default {
    name: 'loader-ui'
  }
</script>

<style lang="scss">
  .loader-ui {
    position: relative;
    max-width: 150px;
    padding-top: 100%;
  }

  .loader-ui__circle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    transform-origin: center center;
    animation: rotateLoader 2s linear infinite;
  }

  .loader-ui__path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dashLoader 1.5s ease-in-out infinite;
    stroke-linecap: round;
    stroke: color(mains, primary);
  }

  @keyframes rotateLoader {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes dashLoader {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
    }
  }
</style>
