<template>
  <div class="block-builder" :class="{ 'block-builder--named': blockName, 'block-builder--no-named': !blockName, 'block-builder--tooltip': showTooltipContent }" v-if="!getShowEdition && blockName || getShowEdition">
    <transition name="fadeIn" mode="out-in">
      <div class="block-builder__settings df-center-x" v-if="!blockName" :key="blockName">
        <div>
          <select v-model="model.module">
            <option :value="null">Select your module</option>
            <option v-for="(module, key) in getModules" :value="key">{{ module.name }}</option>
          </select>

          <transition name="fadeIn">
            <select v-if="model.module" v-model="model.display">
              <option :value="null">Select your display</option>
              <option v-for="(module, key) in availableDisplays" :value="key">{{ key }}</option>
            </select>
          </transition>
        </div>
      </div>

      <div v-else :key="blockName">
        <h3 v-if="blockOptions.general.blockTitle">{{ blockOptions.general.blockTitle }}</h3>

        <transition name="fadeIn" mode="out-in">
          <skeleton-block v-if="Object.keys(blockData).length === 0 && model.module !== 'InsideUi' && !blockOptions.general.hasNoData" :heritedData="{ tpl: 'default' }" :key="Object.keys(blockData).length"></skeleton-block>

          <default-view v-else-if="getDisplay.isList" :heritedData="blockData" :componentName="blockName"></default-view>

          <component v-else :is="blockName" :key="Object.keys(blockData).length" :heritedData="blockData" :heritedOptions="blockOptions"></component>
        </transition>
      </div>
    </transition>

    <!-- Block tooltip edition -->
    <transition name="fadeIn">
      <div v-if="getShowEdition && blockName" class="block-builder__edit">
        <button class="pb__btn pb__btn-edit-block df-center-xy" ref="pbEditBlock" v-tippy="{ html: '#tooltip-block', interactive: true, reactive: true, arrow: true, trigger: 'click', theme: 'side', animation: 'fade', onShow: () => { showTooltipContent = true }, onHidden: () => { showTooltipContent = false } }">
          <i class="sid2-edit"></i>
        </button>

        <div id="tooltip-block" class="tooltip-wrapper">
          <tooltip-content v-if="showTooltipContent" builder="block" :heritedData="Object.assign(heritedData, { blockID, currentModule: getModule.config }, blockOptions)" @tooltipAction="tooltipAction"></tooltip-content>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
  import TooltipParent from '../../mixins/tooltip-parent'
  import SkeletonBlock from '../sekeletons/SkeletonBlock'

  export default {
    name: 'block-builder',
    mixins: [TooltipParent],
    components: {
      SkeletonBlock
    },
    data () {
      const block = this.getStore('getBlocks')[this.heritedData.blockID] ? this.getStore('getBlocks')[this.heritedData.blockID] : {}

      return {
        model: block.module ? block.module : {
          module: null,
          display: null
        },
        blockID: this.heritedData.blockID,
        blockName: block.blockName ? block.blockName : null,
        blockData: {},
        blockOptions: block.blockOptions ? block.blockOptions : {
          content: {},
          general: {},
          display: {}
        },
        availableDisplays: {}
      }
    },
    beforeMount () {
      if (this.getContent.contentTypes) {
        if (this.getContent.contentTypes.length > 0) {
          this.getBlockData()
        }
      }
    },
    methods: {
      /*
      * Create block name
      */
      buildComponentName (display, module) {
        this.blockName = `${display}-${module}`
      },
      /*
      * Create block ID
      */
      getBlockID (blockname) {
        return `block-${blockname}-${this.heritedData.depthID}`
      },
      /*
      * Delete current block
      */
      deleteBlock () {
        this.closeTooltip()

        this.model.module = null
        this.model.display = null

        this.blockName = null
        this.blockID = null
        this.blockData = Object.assign({})
        this.blockOptions = Object.assign({
          content: {},
          general: {},
          display: {}
        })
        this.availableDisplays = Object.assign({})
      },
      /*
      * Set block options from tooltip
      */
      setBlockOptions (data, tab) {
        this.$set(this.blockOptions, tab, data)
        this.closeTooltip()

        if (this.getContent.contentTypes) {
          if (this.getContent.contentTypes.length > 0) {
            this.getBlockData()
          }
        }
      },
      /*
      * Make request to get block Data
      */
      getBlockData () {
        this.get(`content/${this.getContent.formattedContents}`, {
          params: {
            filters: JSON.stringify({
              langcode: this.getCurrentLang,
              ...this.getContent.formattedFilters
            }),
            fields: JSON.stringify(this.getContent.formattedFields)
          }
        }).then((res) => {
          if (res.ok) {
            this.blockData = res.body.data

            this.setStoreAction('setBlockData', {
              blockID: this.blockID,
              blockData: this.blockData
            })
          }
        })
      },
      closeTooltip () {
        const tooltip = this.$refs.pbEditBlock
        if (tooltip && tooltip._tippy) {
          tooltip._tippy.hide()
        }
      }
    },
    watch: {
      getBlock (data) {
        this.blockName = data.blockName
        this.blockOptions = data.blockOptions
      },
      getCurrentModule (value) {
        if (value) {
          this.availableDisplays = Object.assign({}, this.getModules[value].displays)
        }
      },
      getCurrentDisplay (value) {
        if (value) {
          this.buildComponentName(this.model.display, this.model.module.replace('Inside', '').toLowerCase())
        }
      },
      blockName (blockname) {
        if (blockname) {
          this.blockID = this.getBlockID(blockname)

          /*
          * Register block
          */
          this.setStoreAction('addBlock', {
            parentID: this.heritedData.depthID,
            module: this.model,
            blockID: this.blockID,
            blockName: blockname,
            blockData: {},
            blockOptions: this.blockOptions,
            blockPos: this.heritedData.blockPos
          })
        }
      },
      /*
      * Watch block options
      */
      blockOptions (blockOptions) {
        if (this.blockID) {
          this.setStoreAction('setBlockOptions', {
            blockID: this.blockID,
            blockOptions
          })
        }
      }
    },
    computed: {
      getContent () { return this.blockOptions.content },
      getGeneral () { return this.blockOptions.general },
      getDisplay () { return this.blockOptions.display },
      getCurrentModule () { return this.model.module },
      getCurrentDisplay () { return this.model.display },
      /*
      * Store
      */
      getShowEdition () { return this.getStore('getShowEdition') },
      getModules () { return this.getStore('getModules') },
      getBlockOptions () {
        if (this.getStore('getBlockByID', this.blockID)) {
          return this.getStore('getBlockOptions', this.blockID)
        }

        return null
      },
      getModule () {
        if (this.model.module) {
          return this.getStore('getModule', this.model.module)
        }

        return null
      }
    }
  }
</script>

<style scoped lang="scss">
  .block-builder {
    position: relative;

    &.block-builder--named:hover .pb__btn-edit-block,
    &.block-builder--tooltip .pb__btn-edit-block {
      opacity: 1;
    }
  }

  .block-builder__settings {
    margin: 5px;
    padding: 150px 20px;

    > div {
      width: 300px;
      max-width: 90%;
    }

    select {
      width: 100%;
      height: 25px;
      @include fontSize(13);

      + select {
        margin-top: 10px;
      }
    }
  }

  .pb__btn-edit-block {
    position: absolute;
    right: 0;
    bottom: 0;
    background: color(admin, c);
    border-color: color(admin, c);
    opacity: 0;
    @include transition(all .4s);

    &:hover {
      color: color(admin, c);
      background: color(basics, white);
    }
  }
</style>
