<template>
  <div class="layout-builder" :class="[{ 'layout-builder--edit': getShowEdition }, `layout-builder-bg--${getOptions.bgColor}`, { 'layout-builder--tooltip': showTooltipContent }]" :style="{ width: `${getOptions.width.value}${getOptions.width.unit}`, maxWidth: `${getOptions.maxWidth.value}${getOptions.maxWidth.unit}` }">
    <!-- Layout tooltip edition -->
    <transition name="fadeIn">
      <div v-if="getShowEdition" class="layout-builder__edit">
        <button class="pb__btn pb__btn-edit-layout df-center-xy" v-tippy="{ html: '#tooltip-layout', interactive: true, reactive: true, arrow: true, trigger: 'click', theme: 'side', animation: 'fade', onShow: () => { showTooltipContent = true }, onHidden: () => { showTooltipContent = false } }">
          <i class="sid2-edit"></i>
        </button>

        <div id="tooltip-layout" class="tooltip-wrapper" ref="pbEditLayout">
          <tooltip-content v-if="showTooltipContent" builder="layout" :heritedData="Object.assign(heritedData, { parentID })" @tooltipAction="tooltipAction"></tooltip-content>
        </div>
      </div>
    </transition>

    <div class="layout-builder__col-container" :class="[`layout-builder-${getColumnsCount - 1}`, `layout-builder-align--${getOptions.alignment}`]">
      <div class="layout-builder__col" v-for="(col, index) in columns" :key="`${depthID}-${index}`" v-if="getColOptions[index]" :style="{ width: `${getColOptions[index].width.value}${getColOptions[index].width.unit}`, marginTop: `${getColOptions[index].margins.top}px`, marginRight: `${getColOptions[index].margins.right}px`, marginBottom: `${getColOptions[index].margins.bottom}px`, marginLeft: `${getColOptions[index].margins.left}px` }">

        <!-- BlockBuilder -->
        <block-builder :heritedData="{ depthID, blockPos: index, blockID: heritedData.blocks[index] }"></block-builder>

        <row-builder :depthID="`${depthID.replace('layouts', 'rows')}${index}`"></row-builder>
      </div>
    </div>
  </div>
</template>

<script>
  import TooltipParent from '../../mixins/tooltip-parent'

  export default {
    name: 'layout-builder',
    mixins: [TooltipParent],
    props: {
      parentID: {
        type: String,
        default: ''
      },
      depthID: {
        type: String,
        default: ''
      },
      columns: {
        type: Number,
        default: 1
      }
    },
    methods: {
      setLayoutOptions (data) {
        const options = data
        const columns = options.colCount

        // delete options.colCount

        this.setStoreAction('setLayoutOptions', {
          id: this.depthID,
          options,
          columns
        })
      }
    },
    computed: {
      getShowEdition () {
        return this.getStore('getShowEdition')
      },
      getColumnsCount () {
        return parseInt(this.columns)
      },
      getOptions () {
        return this.heritedData.options
      },
      getColOptions () {
        return this.heritedData.options.colOptions
      }
    }
  }
</script>

<style lang="scss">
  .layout-builder {
    position: relative;
    display: block;
    margin: auto;
    max-width: 100%;

    > .layout-builder-0 > .layout-builder__col { width: 100%; }
    > .layout-builder-1 > .layout-builder__col {
      width: 50%;

      @include mobile {
        width: 100% !important;
        margin-bottom: 10%;
      }
    }
    > .layout-builder-2 > .layout-builder__col {
      width: calc(100% / 3);

      @include tablet-to-mobile {
        width: 50% !important;
      }

      @include mobile {
        width: 100% !important;
        margin-bottom: 10%;
      }
    }
    > .layout-builder-3 > .layout-builder__col {
      width: 25%;

      @include tablet-to-mobile {
        width: 50% !important;
      }

      @include mobile {
        width: 100% !important;
        margin-bottom: 10%;
      }
    }

    /*
    * Layout background
    */
    &.layout-builder-bg {
      &--none {
        background: none;
      }

      &--color {
        background: color(mains, secondary);
      }

      &--gradient {
        background: linear-gradient(90deg, color(gradients, a), color(gradients, c));
      }

      &-align--left {
        justify-content: flex-start;
      }

      &-align--center {
        justify-content: center;
      }

      &-align--right {
        justify-content: flex-end;
      }

      &-align--space {
        justify-content: space-between;
      }
    }

    .pb__btn-edit-layout {
      opacity: 0;
      @include transition(all .4s);
    }

    &:hover,
    &.layout-builder--tooltip {
      .pb__btn-edit-layout {
        opacity: 1;
      }
    }
  }

  /* .layout-builder--edit {
    @include transition(background .4s);

    > .layout-builder__col-container > div {
      @include transition(background .4s);
    }

    &:hover {
      background: rgba(color(admin, a), .1) ;

      > .layout-builder__col-container > div {
        &:nth-child(2n-1) {
          background: rgba(color(admin, a), .3) ;
        }
      }
    }
  } */

  .layout-builder--edit {
    > .layout-builder__col-container > .layout-builder__col > .block-builder {
      > * {
        position: relative;
        z-index: 1;
      }

      &::after {
        position: absolute;
        z-index: 0;
        top: 10px;
        right: 10px;
        bottom: 10px;
        left: 10px;
        background: color(admin, a);
        opacity: 0;
        content: '';
        @include transition(opacity .4s);
      }
    }

    &:hover {
      > .layout-builder__col-container > .layout-builder__col > .block-builder--no-named::after {
        opacity: .5;
      }
    }
  }

  .layout-builder__col-container {
    display: flex;
    align-items: stretch;

    @include tablet {
      flex-wrap: wrap;
    }
  }

  .layout-builder__edit {
    position: relative;
    z-index: 10;

    .pb__btn {
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }
</style>
