<template>
  <div class="row-builder" :class="`row-builder--${depthID}`">
    <div class="row-builder__content" v-if="getRowData">
      <layout-builder v-if="Object.keys(getRowData.layouts).length > 0 && getRowData.layouts[layout].id" v-for="(layout, index) in Object.keys(getRowData.layouts)" :key="getRowData.layouts[layout].id" :columns="getRowData.layouts[layout].columns" :parentID="depthID" :depthID="`${depthID.replace('rows', 'layouts')}-${index}`" :heritedData="getRowData.layouts[layout]"></layout-builder>
    </div>

    <transition name="fadeIn">
      <div v-if="getShowEdition">
        <div class="row-builder__more">
          <button class="pb__btn pb__btn-add df-center-xy" ref="pbNewRow" v-tippy="{ html: '#tooltip-row', interactive: true, reactive: true, arrow: true, trigger: 'click', theme: 'side', animation: 'fade' }">
            <i class="sid2-more"></i>
          </button>
        </div>

        <div id="tooltip-row" class="tooltip-wrapper" ref="pbAddRow">
          <tooltip-content builder="row" @tooltipAction="tooltipAction"></tooltip-content>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
  export default {
    name: 'row-builder',
    props: {
      depthID: {
        type: String,
        default: 'rows-0'
      }
    },
    methods: {
      addRow (nbCol) {
        this.$refs.pbNewRow._tippy.hide()

        const colOptions = {}

        for (let x = 0; x < nbCol; x++) {
          colOptions[x] = {
            width: {
              value: null,
              unit: null
            },
            margins: {
              top: 0,
              right: 0,
              bottom: 0,
              left: 0
            }
          }
        }

        this.setStoreAction('addRowsLayout', {
          parent: this.depthID,
          id: `${this.depthID.replace('rows', 'layouts')}-${this.getRowData.layoutCounter}`,
          columns: nbCol,
          blocks: {},
          options: {
            colOptions,
            width: {},
            maxWidth: {}
          }
        })
      },
      tooltipAction (value) {
        this[value.action](value.data)
      }
    },
    computed: {
      getShowEdition () {
        return this.getStore('getShowEdition')
      },
      getRowData () {
        return this.getStore('getRowsByID', this.depthID)
      }
    }
  }
</script>

<style lang="scss">
  .row-builder__more {
    position: relative;
    display: flex;
    top: -10px;
    justify-content: center;
    margin-top: 20px;
  }
</style>
