<template>
  <header>
    <header-burger-common v-if="getTablet"></header-burger-common>

    <router-link to="/" class="header__logo">
      <image-ui path="logos/logo.svg"></image-ui>
    </router-link>

    <div class="header__right df-center-y">
      <menu-common v-if="!getTablet"></menu-common>

      <div class="header__user-action df-center-y">
        <a href="#" v-if="!getTablet">
          <i class="sid2-search"></i>
        </a>

        <a href="#">
          <i class="sid2-notification"></i>
        </a>

        <header-users></header-users>
      </div>
    </div>
  </header>
</template>

<script>
  import HeaderCommon from '~moduleDirectory/inside-library/components/common/HeaderCommon'

  export default {
    name: 'header-common',
    extends: HeaderCommon
  }
</script>
