/*
* Fonts
*/
$main_font: 'Arial';
$secondary_font: 'Georgia', 'Times New Roman';

/*
* Colors
*/
$colors: (
  basics: (
    black: #000,
    white: #fff
  ),
  mains: (
    primary: #5b64f7,
    secondary: #25d8cd,
    thirdary: #1f2b71,
    fourth: #ff9f9f
  ),
  gradients: (
    a: #fbb3a7,
    b: #e3b4cf,
    c: #e5e7ff
  ),
  texts: (
    a: #4a4a4a,
    b: #727272,
    c: #2c3e50,
    d: #818181
  ),
  backgrounds: (
    a: #f3f3f3
  ),
  inputs: (
    a: #d0d0d0
  ),
  admin: (
    a: #05cfb5,
    b: #ef476f,
    c: #ffc43d,
    d: #1b9aaa
  ),
  actions: (
    error: #ed4848,
    validate: #16c172
  ),
  socials: (
    fb: #3b5999,
    twitter: #55acee,
    insta: #e4405f
  ),
  skeletons: (
    bg: #ddd
  )
);

/*
* Breakpoints
*/
$breakpoints: (
  smallDesktop: 1100px,
  tablet: 960px,
  mobile: 650px
);
