<template>
  <div>
    <!--<p>Event capsule</p>-->
    <!--<button-base-s2c value="coucou"></button-base-s2c>-->

    <!--<h2>{{ setDateFromNow(1427466311) }}</h2>-->

    <!--<global-form-s2c :steps="['request', 'dom', 'modal']">-->
      <!--<template slot="fields">-->
        <!--<p>Mon formulaire</p>-->
        <!--<input-email-s2c model="mymail" label="Mon mail" placeholder="Mon premier mail" rules="required"></input-email-s2c>-->
        <!--<input-text-s2c model="myfirstname" label="My first name" rules="required|alpha"></input-text-s2c>-->
        <!--<input-text-s2c model="mylastname" label="My last name" rules="required|alpha"></input-text-s2c>-->
        <!--<input-checkbox-s2c model="mytest" label="My test" rules="required" :inputData="[{ label: 'premier label', value: 'first' }, { label: 'second label', value: 'second' }]"></input-checkbox-s2c>-->
        <!--<input-password-s2c model="mypwd" label="My password" rules="required"></input-password-s2c>-->
      <!--</template>-->
    <!--</global-form-s2c>-->
  </div>
</template>

<script>
  export default {
    name: 'capsule-events'
  }
</script>

<style lang="scss" scoped src="~insideDisplays/events/capsule.scss"></style>
