<template>
  <div class="error-page df-center-xy">
    <p>An error occured ...</p>
  </div>
</template>

<script>
  export default {
    name: 'error-page'
  }
</script>

<style scoped lang="scss">
  .error-page {
    width: 100vw;
    height: 100vh;

    p {
      @include fontSize(25);
    }
  }
</style>
