.author-users {
  max-width: 95%;
  padding: 25px 42px;
  background: color(basics, white);
  text-align: left;
  @include box-shadow(0, 1px, 6px, rgba(color(basics, black), .12));

  > img {
    margin-right: 25px;
    border-radius: 100%;
  }
}

.author-users {
  color: color(texts, c);

  &__name {
    margin-bottom: 8px;
    font-weight: 500;
    @include fontSize(20);
    @include transition(color .4s);

    &:hover {
      color: color(mains, secondary);
    }
  }

  &__role {
    margin-bottom: 6px;
    @include fontSize(16);
  }

  &__structure {
    color: color(mains, fourth);
    font-weight: 500;
    @include fontSize(15);
  }
}
