.header-users {
  position: relative;
}

.header-users__img {
  position: relative;
  z-index: 5;

  img {
    position: relative;
    z-index: 2;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
  }

  &::after {
    position: absolute;
    z-index: 1;
    top: -3px;
    right: -3px;
    bottom: -3px;
    left: -3px;
    background: color(basics, white);
    border-radius: 100%;
    content: '';
  }
}

.header-users__content {
  position: absolute;
  z-index: 1;
  top: -21px;
  right: -24px;
  width: 247px;

  @include tablet {
    top: -27px;
  }
}

.header-users__infos {
  flex-wrap: wrap;
  height: 74px;
  padding: 0 55px 0 26px;
  background: color(mains, primary);

  @include tablet {
    height: 84px;
  }

  p {
    width: 100%;
    line-height: 1.5;
    color: color(basics, white);
    @include fontSize(16);

    &:first-child {
      font-weight: 600;
    }
  }
}

.header-users__menu {
  padding-top: 15px;
  background: color(basics, white);
  @include box-shadow(0, 1px, 6px, rgba(color(basics, black), .12));

  a {
    padding: 10px 25px;
    @include transition(all .4s);

    &:hover {
      color: color(mains, primary);
    }
  }

  span {
    @include fontSize(16);
  }

  i {
    display: flex;
    justify-content: center;
    width: 25px;
    margin-right: 14px;
    color: color(mains, primary);
    @include fontSize(20);
  }

  .header-users--logout {
    a {
      padding-top: 14px;
      padding-bottom: 14px;
      background: color(backgrounds, a);
      border-top: 1px solid color(backgrounds, a);
      cursor: pointer;

      &:hover {
        background: color(basics, white);
      }
    }
  }
}
