.login-users {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;

  &::after {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    background: linear-gradient(211deg, color(gradients, a), color(gradients, b));
    content: '';

    @include tablet {
      display: none;
    }
  }

  @include tablet {
    &.df-center-xy {
      display: block;
    }
  }

  .input {
    &:first-child {
      margin-bottom: 35px;

      @include mobile {
        margin-bottom: 22px;
      }
    }
  }

  .input-checkbox {
    margin-top: 25px;

    @include mobile {
      margin-top: 15px;
    }
  }

  .input__single__label {
    color: color(basics, black);
    opacity: .87;
    @include fontSize(16);
  }
}

.login-users__content {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;

  > img {
    max-width: calc(100% - 490px);

    @at-root .internet-explorer-11 & {
      width: calc(100% - 490px);
    }
  }

  @include tablet {
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    > img {
      width: 100%;
      max-width: 100%;
    }
  }
}

.login-users__log,
.login-users__forget {
  width: 370px;

  @include tablet {
    width: 90%;
    max-width: 370px;
    margin: auto;
  }
}

.login-users__form {
  > img {
    display: block;
    margin: 0 auto 35px;
  }

  @include tablet {
    margin-top: 15px;
  }
}

.login-users__title {
  text-align: center;
  color: color(texts, c);
  font-weight: 700;
  @include fontSize(36);

  @include tablet {
    margin-top: 20px;
  }

  @include tablet-to-mobile {
    @include fontSize(30);
  }

  @include mobile {
    @include fontSize(20);
  }
}

.login-users__submit {
  margin-top: 60px;

  @include mobile {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 28px;
  }

  a {
    margin-right: 30px;
    color: color(texts, d);
    cursor: pointer;
    @include fontSize(16);
    @include transition(all .4s);

    &:hover {
      color: color(mains, primary);
    }

    @include mobile {
      width: 100%;
      margin-right: 0;
      margin-bottom: 22px;
      text-align: center;
    }
  }

  .btn {
    padding: 14px 28px;
  }
}

.login-users__inside {
  position: absolute;
  bottom: 20px;
  left: calc(50% + 50px);

  p {
    position: relative;
    top: -2px;
    margin-right: 10px;
    color: color(texts, a);
    font-weight: 300;
    @include fontSize(16);
  }

  @include tablet-to-mobile {
    left: 50%;
    transform: translateX(-50%);
  }

  @include mobile {
    position: static;
    display: flex;
    justify-content: center;
    margin: 50px 0 15px;
  }
}

/*
* Login
*/

.login-users__log {
  .login-users__title {
    margin-bottom: 78px;
  }
}

.login-users__error {
  margin-top: 20px;

  p {
    color: color(actions, error);
    @include fontSize(14);
  }
}

/*
* Forget password
*/

.login-users__forget {
  .login-users__title {
    margin-bottom: 20px;

    + p {
      color: color(texts, c);
      line-height: 1.5;
      @include fontSize(16);
    }
  }

  .global-form {
    margin-top: 50px;

    @include mobile {
      margin-top: 20px;
    }
  }

  .login-users__submit {
    justify-content: flex-end;

    @include mobile {
      justify-content: center;
    }
  }
}

/*
* Responsive
*/
.login-users__header-mobile {
  width: 100%;
  padding: 22px 0;
  background: color(basics, white);
}

.login-users__photo {
  position: relative;
  width: 100%;
  margin-bottom: 25px;
  background-size: cover !important;

  @include tablet-to-mobile {
    height: 300px;
  }

  @include mobile {
    height: 158px;
  }

  &::after {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    height: 26px;
    background: linear-gradient(211deg, color(gradients, a), color(gradients, b));
    content: '';
  }
}
