.shortcuts-users {
  padding: 38px 48px 50px;
  background: color(basics, white);
  @include box-shadow(0, 1px, 6px, rgba(color(basics, black), 0.12));
}

.shortcuts-users__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  text-align: center;
  @include fontSize(20);

  a {
    position: relative;
    top: 1px;
    margin-left: 10px;
    color: color(mains, fourth);
    @include fontSize(16);
    @include transition(all .4s);

    &:hover {
      color: color(mains, secondary);
      transform: rotate(90deg);
    }
  }
}

.shortcuts-users__content {
  li {
    margin-bottom: 18px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    display: flex;
    align-items: center;
    color: color(texts, c);
    @include fontSize(16);
    @include transition(color .4s);

    &:hover {
      color: color(mains, primary);
    }
  }

  i {
    display: flex;
    margin-right: 13px;
    justify-content: center;
    width: 25px;
    color: color(mains, primary);
    @include fontSize(19);
  }
}
