<template>
  <div class="view">
    <!-- View header -->
    <div class="list-view__header df-center-xy" ref="header">
      <div class="list-view__header__content">
        <p class="list-view__header__title"></p>
      </div>
    </div>

    <!-- Filters -->
    <div class="list-view__filters df-center-x">
      <div class="df-center-y">
        <!--<filter-view-s2c :initialViewData="viewData" :filterData="JSON.parse(blockOptions.dataFilters)" @setViewsData="setQueryFilters"></filter-view-s2c>-->
      </div>
    </div>

    <!-- List -->
    <transition name="fadeIn" mode="out-in">
      <loader-ui v-if="isLoading" :key="isLoading"></loader-ui>

      <div class="view__content" v-else :key="isLoading">
        <component v-for="(item, index) in heritedData" :is="componentName" :heritedData="[item]" :key="`view--${index}`"></component>
      </div>
    </transition>

    <div class="view__footer">
      <router-link to="/">
        <i class="sid2-arrow-link"></i> <span>Voir toutes les actualités</span>
      </router-link>
    </div>
  </div>
</template>

<script>
  import FilterView from '../filters/FilterView'

  export default {
    name: 'view-default',
    props: ['componentName'],
    components: {
      FilterView
    },
    data () {
      return {
        isLoading: false
      }
    }
  }
</script>

<style scoped lang="scss">

</style>
