<template>
  <div class="full-news" v-if="heritedData">
    <div class="full-news__header">
      <div class="df-center-y">
        <p class="full-news__date">{{ setDateFormat(heritedData[0].created_at, 'DD/MM/YYYY') }}</p>
        <p class="full-news__cat"><span v-for="cat in heritedData[0].themes">{{ cat.title }}</span></p>
      </div>

      <h1>{{ heritedData[0].title }}</h1>

      <div class="full-news__actions df-center-y">
        <bookmark-ui></bookmark-ui>
        <!--<comment-s2c display="preview"></comment-s2c>-->
        <like-ui display=""></like-ui>
      </div>
    </div>

    <div class="full-news__main" v-if="heritedData[0].image">
      <img :src="heritedData[0].image" :alt="heritedData[0].title">
    </div>

    <div class="full-news__content" v-html="heritedData[0].body"></div>

    <div class="full-news__author">
      <p>Auteur de l'article</p>

      <div class="df-center-x">
        <!--<user-author v-for="(user, index) in heritedData[0].users" :heritedData="user" :key="`user&#45;&#45;${index}`"></user-author>-->
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'full-news'
  }
</script>

<style lang="scss" src="~insideDisplays/news/full.scss"></style>
