<template>
  <div class="hero-news df-center-y" :style="{ background: 'url(https://images.unsplash.com/photo-1512794751227-fefb9f898224?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ed90dfd9d5890d4edd8a9288d940572e&auto=format&fit=crop&w=1350&q=80) center center', backgroundSize: 'cover' }">
    <div class="hero-news__content">
      <p class="hero-news__cat">Vie interne</p>
      <h1 class="hero-news__title" :style="{ color: blockOptions.titleColor ? blockOptions.titleColor.hex : '' }">
        <a href="#">Ma news de test</a>
      </h1>

      <p class="hero-news__text">While it was just a TV show, that little speech at the beginning of the original Star Trek show really did do a good job of capturing our feelings about space.</p>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'hero-news'
  }
</script>

<style lang="scss" scoped src="~insideDisplays/news/hero.scss"></style>
