<template>
  <div class="minimal-news" v-if="heritedData">
    <!--<img v-if="!imgIsBg" :src="heritedData.image" :alt="heritedData.title">-->
    <!--<div class="minimal-news__bg" v-else :style="{ background: `url(${heritedData.image}) center center no-repeat` }"></div>-->
    <router-link v-if="heritedData[0].slug" :to="heritedData[0].slug[0]" class="minimal-news__bg" :style="{ background: `url(${heritedData[0].image}) center center no-repeat` }"></router-link>

    <div class="minimal-news__content">
      <router-link v-if="heritedData[0].slug" :to="heritedData[0].slug[0]">{{ heritedData[0].title }}</router-link>

      <div class="minimal-news__infos df-center-y">
        <div :style="{ borderColor: heritedData[0].structures[0] ? heritedData[0].structures[0].color : ''}">
          <div class="minimal-news__mains">
            <p class="minimal-news__date" v-if="heritedData[0].created_at">
              <span>
                <span>
                  {{ setDateFormat(heritedData[0].created_at, 'd') }} {{ setDateFormat(heritedData[0].created_at, 'MMM') }}
                </span>
              </span>
            </p>
            <p class="minimal-news__category" ref="truncateDomS2c"><span v-for="(structure, index) in heritedData[0].structures" :key="`structure--${index}`" :style="{ color: structure.color }">{{ structure.title }}</span></p>
          </div>

          <p class="minimal-news__type"><span v-for="(theme, index) in heritedData[0].themes" :key="`theme--${index}`">{{ theme.title }}</span></p>
        </div>

        <div class="minimal-news__actions df-center-y">
          <like-ui></like-ui>

          <!--<comment-s2c display="preview"></comment-s2c>-->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'minimal-news',
    props: ['imgIsBg']
  }
</script>

<style lang="scss" src="~insideDisplays/news/minimal.scss"></style>
