.layout-horizontal__header {
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 10%;
  background: color(basics, white);

  @include desktop {
    padding: 0 5%;
  }
}

.layout-horizontal__content {
  padding-top: 75px;

  @at-root .layout-horizontal--specific & {
    padding-top: 0;
  }

  @include tablet {
    padding-top: 84px;
  }
}

.layout-horizontal {
  footer {
    margin-top: 50px;
    padding: 10px 10% 28px;
  }
}

.edition-active {
  .layout-horizontal__content {
    position: relative;
    z-index: 2;
  }

  footer {
    z-index: 1;
  }
}
