<template>
  <component :is="tabName" :heritedData="heritedData[display]" @blockTabAction="tooltipAction"></component>
</template>

<script>
  import BlockTabs from './block-tabs'

  export default {
    name: 'block-tooltip-content',
    components: {
      BlockTabs
    },
    props: ['display'],
    data () {
      return {
        tabName: `block-tab-${this.display}`
      }
    },
    methods: {
      tooltipAction (value) {
        this.$emit('tooltipAction', {
          data: value.data,
          tab: value.tab,
          action: value.action
        })
      }
    }
  }
</script>

<style lang="scss">
  .tooltip-content__content-type {
    > div {
      flex-wrap: wrap;
    }
  }

  .tooltip-content__content-fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    > div {
      width: 48%;
    }
  }

  .tooltip-content__btn-add-container {
    width: 100%;
    justify-content: flex-end;
  }

  .tooltip-content__content-fields--single {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-wrap: wrap;

    > * {
      width: 48%;
    }

    &.tooltip-content__content-fields--filter {
      > * {
        width: calc(49% - 25px);
      }

      .tooltip-content__content-fields__operation {
        width: 50px;
      }

      i {
        width: auto;
      }

      .tooltip-content__content-fields__depth {
        width: 100%;
      }
    }

    label {
      text-align: right;
    }

    input,
    select,
    textarea {
      height: 20px;
      @include fontSize(11);
    }

    > i {
      position: absolute;
      top: 3px;
      right: -17px;
      width: auto;
      cursor: pointer;
      @include fontSize(12);
      @include transition(color .4s);

      &:hover {
        color: color(actions, error);
      }
    }
  }

  .tooltip-content__content-fields--optionnal {
    input {
      padding-right: 15px;
    }
  }

  .tooltip-content__content-fields__depth {
    width: 100%;

    .tooltip-content__btn-add-container {
      justify-content: flex-start;
    }

    .btn-add {
      width: 20px;
      height: 20px;
      @include fontSize(10);
    }
  }

  .tooltip-content__single-field.df-center-y {
    > p {
      position: relative;
      top: 3px;
      margin-right: 10px;
    }
  }
</style>
