<template>
  <div class="div-fields">
    <div class="div-fields__top">
      <input type="number" v-model="model.margins.top">
    </div>

    <div class="div-fields__middle df-center-y">
      <input type="number" v-model="model.margins.left">

      <div class="tooltip-content__unit df-center-y">
        <input type="number" v-model="model.width.value">
        <select v-model="model.width.unit">
          <option value="px">px</option>
          <option value="%">%</option>
        </select>
      </div>

      <input type="number" v-model="model.margins.right">
    </div>

    <div class="div-fields__bottom">
      <input type="number" v-model="model.margins.bottom">
    </div>
  </div>
</template>

<script>
  export default {
    name: 'div-fields',
    props: ['index'],
    data () {
      return {
        model: {
          width: {
            value: null,
            unit: 'px'
          },
          margins: {
            top: 0,
            right: 0,
            bottom: 0,
            left: 0
          }
        }
      }
    },
    watch: {
      model: {
        handler: function (value) {
          this.$emit('setDiv', {
            model: value,
            index: this.index - 1
          })
        },
        deep: true
      }
    }
  }
</script>

<style lang="scss">
  .div-fields {
    &:nth-child(n+3) {
      margin-top: 10px;
    }
  }

  .div-fields__top,
  .div-fields__bottom,
  .div-fields__middle {
    display: flex;
    justify-content: center;

    input {
      width: 40px;
    }
  }

  .div-fields__middle {
    margin: 5px 0;

    .tooltip-content__unit {
      margin: 0 5px;
    }
  }
</style>
