<template>
  <div class="tooltip-content__content-fields--single tooltip-content__content-fields--optionnal" :class="{ 'tooltip-content__content-fields--filter': heritedData.type === 'filter' }">
    <select v-model="model.key">
      <option :value="null">Select field</option>
      <option :value="filter.COLUMN_NAME" v-for="filter in getFields" :key="`filter--${filter.COLUMN_NAME}`">{{ filter.COLUMN_NAME }}</option>
    </select>

    <select v-if="heritedData.type === 'filter' && model.key && type !== 'object'" v-model="model.operation" class="tooltip-content__content-fields__operation">
      <option :value="op" v-for="op in operations" :key="`operation--${op}`">{{ op }}</option>
    </select>

    <template v-if="heritedData.type === 'filter'">
      <input v-if="type === 'text'" v-model="model.value" type="text">

      <input v-if="type === 'number'" v-model="model.value" type="number">

      <textarea v-if="type === 'textarea'" v-model="model.value"></textarea>

      <select v-model="model.value" v-if="type === 'selectboolean'">
        <option :value="0">No</option>
        <option :value="1">Yes</option>
      </select>
    </template>

    <i class="sid2-trash" @click="deleteCurrentField(heritedData.index)"></i>

    <div class="tooltip-content__content-fields__depth" v-if="type === 'object'">
      <field-block-content v-for="(field, index) in model.value" :key="`child-field--${index}-${heritedData.depth}`" :heritedData="Object.assign({}, field, { depth: heritedData.depth + 1, index, type: heritedData.type }, field)" @setModel="setChildModel"></field-block-content>

      <div class="tooltip-content__btn-add-container df-center-x">
        <div class="btn-add" @click="addNewField">
          <i class="sid2-more"></i>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue'
  import _ from 'lodash'

  import operations from '../../conf/filter-operations'

  export default Vue.component('field-block-content', {
    data () {
      const model = {
        key: null,
        value: null
      }

      if (this.heritedData.type === 'filter') {
        model.operation = 'eq'
      }

      return {
        model,
        type: null,
        operations
      }
    },
    methods: {
      addNewField () {
        this.model.value.push({
          key: null,
          value: null,
          operation: 'eq'
        })
      },
      deleteCurrentField (index) {
        this.$parent.deleteChildField(index, this.heritedData.type)
      },
      deleteChildField (index) {
        this.$delete(this.model.value, index)
      },
      setChildModel (childModel) {
        this.$set(this.model.value[childModel.index], 'key', childModel.key)
        this.$set(this.model.value[childModel.index], 'value', childModel.value)
        this.$set(this.model.value[childModel.index], 'operation', childModel.operation)
      },
      convertFieldType (field) {
        const dbType = field.DATA_TYPE

        if (dbType === 'longtext') {
          this.type = 'textarea'
        } else if (dbType === 'int') {
          this.type = 'number'
        } else if (dbType === 'tinyint') {
          this.type = 'selectboolean'
        } else if (dbType === 'object') {
          this.type = 'object'
          this.model.value = []
        } else {
          this.type = 'text'
        }
      }
    },
    watch: {
      getKey (value) {
        const field = _.find(this.getFields, (field) => {
          return field.COLUMN_NAME === value
        })

        if (field) {
          this.convertFieldType(field)
        }
      },
      model: {
        handler: function (model) {
          this.$emit('setModel', {
            index: this.heritedData.index,
            type: this.heritedData.type,
            ...model
          })
        },
        deep: true
      }
    },
    computed: {
      getFields () {
        return this.getStore('getFields')
      },
      getKey () {
        return this.model.key
      }
    }
  })
</script>

<style lang="scss">
  .tooltip-content__content-fields__depth {
    position: relative;
    padding-left: 5%;
    margin-top: 3px;

    .tooltip-content__content-fields--single {
      margin-bottom: 3px;
    }

    .tooltip-content__btn-add-container {
      margin-top: 7px;
    }
  }
</style>
