<template>
  <div>
    <h1>Layout options</h1>

    <div class="tooltip-content__section">
      <div class="tooltip-content__2fields df-center-y">
        <div class="tooltip-content__single-field">
          <label>Width</label>

          <div class="tooltip-content__unit df-center-y">
            <input type="number" placeholder="Layout width" v-model="model.width.value">
            <select v-model="model.width.unit">
              <option value="px" selected>px</option>
              <option value="%">%</option>
            </select>
          </div>
        </div>

        <div class="tooltip-content__single-field">
          <label>Max width</label>

          <div class="tooltip-content__unit df-center-y">
            <input type="number" placeholder="Layout max width" v-model="model.maxWidth.value">
            <select v-model="model.maxWidth.unit">
              <option value="px">px</option>
              <option value="%">%</option>
            </select>
          </div>
        </div>
      </div>

      <div class="tooltip-content__1fields tooltip-content__single-field">
        <label>Alignement</label>

        <div class="df-center-y tooltip-content__align">
          <div class="tooltip-content__fields--radio">
            <i class="sid2-left-align"></i>
            <input type="radio" :name="`alignment-${heritedData.id}`" value="left" v-model="model.alignment">
          </div>

          <div class="tooltip-content__fields--radio">
            <i class="sid2-center-align"></i>
            <input type="radio" :name="`alignment-${heritedData.id}`" value="center" v-model="model.alignment">
          </div>

          <div class="tooltip-content__fields--radio">
            <i class="sid2-right-align"></i>
            <input type="radio" :name="`alignment-${heritedData.id}`" value="right" v-model="model.alignment">
          </div>
        </div>
      </div>
    </div>

    <div class="tooltip-content__section">
      <div class="tooltip-content__1fields tooltip-content__single-field">
        <label>Columns count & Columns options</label>

        <div class="df-center-y">
          <input type="number" placeholder="1" v-model="model.colCount" min="1" max="4">
        </div>
      </div>

      <div class="tooltip-content__div-fields" :class="`tooltip-content__div-fields--${getColCount}`">
        <div-fields v-for="index in getColCount" :heritedData="model.colOptions[index]" :index="index" :key="`divField--${index}`" @setDiv="setColOptions"></div-fields>
      </div>
    </div>

    <div class="tooltip-content__section">
      <div class="tooltip-content__1fields tooltip-content__single-field">
        <label>Background color</label>

        <div class="df-center-y">
          <div class="tooltip-content__fields--radio">
            <label>None</label>
            <input type="radio" :name="`bgColor-${heritedData.id}`" value="none" v-model="model.bgColor">
          </div>

          <div class="tooltip-content__fields--radio">
            <label>Color</label>
            <input type="radio" :name="`bgColor-${heritedData.id}`" value="color" v-model="model.bgColor">
          </div>

          <div class="tooltip-content__fields--radio">
            <label>Gradient</label>
            <input type="radio" :name="`bgColor-${heritedData.id}`" value="gradient" v-model="model.bgColor">
          </div>
        </div>
      </div>
    </div>

    <div class="tooltip-content__section">
      <transition name="fadeIn" mode="out-in">
        <button class="btn" @click="showDelete = true" v-if="!showDelete" :key="showDelete">Delete layout</button>

        <div class="tooltip-content__confirm df-center-y" v-else :key="showDelete">
          <button class="btn-add" @click="deleteLayout">
            <i class="sid2-check"></i>
          </button>

          <button class="btn-delete" @click="showDelete = false">
            <i class="sid2-more"></i>
          </button>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
  import DivFields from './DivFields'
  import _ from 'lodash'

  export default {
    name: 'layout-tooltip-content',
    components: {
      DivFields
    },
    data () {
      return {
        showDelete: false,
        model: {
          width: this.heritedData.options.width || {
            value: 95,
            unit: '%'
          },
          maxWidth: this.heritedData.options.maxWidth || {
            value: 1600,
            unit: 'px'
          },
          alignment: this.heritedData.options.alignment || 'left',
          colCount: this.heritedData.columns,
          colOptions: this.heritedData.options.colOptions,
          bgColor: this.heritedData.options.bg || 'none'
        }
      }
    },
    methods: {
      setColOptions (value) {
        this.model.colOptions[value.index] = Object.assign({}, value.model)
      },
      emitOptions () {
        this.$emit('setLayoutOptions', {
          data: this.model,
          action: 'setLayoutOptions'
        })
      },
      deleteLayout () {
        this.setStoreAction('deleteLayout', {
          id: this.heritedData.id,
          parentID: this.heritedData.parentID
        })
      }
    },
    watch: {
      /*
      * Add and delete col options in function of column count
      */
      getColCount (value) {
        let maxCol

        if (Object.keys(this.model.colOptions).length >= value) {
          maxCol = Object.keys(this.model.colOptions).length
        } else {
          maxCol = value
        }

        for (let y = 0; y < maxCol; y++) {
          if (y >= value) {
            delete this.model.colOptions[y]
          } else {
            this.model.colOptions[y] = {
              width: {
                value: null,
                unit: null
              },
              margins: {
                top: 0,
                right: 0,
                bottom: 0,
                left: 0
              }
            }
          }
        }
      },
      model: {
        handler: _.throttle(function () {
          this.emitOptions()
        }, 500),
        deep: true
      },
      'model.colOptions': {
        handler: function () {
          this.emitOptions()
        },
        deep: true
      }
    },
    computed: {
      getColCount () {
        return parseInt(this.model.colCount)
      }
    }
  }
</script>

<style lang="scss">

</style>
