<template>
  <div class="input input-textarea" :class="[`input--${display}`, focused ? `input--focused` : '', fieldModel[model] !== '' && fieldModel[model] ? `input--filled` : '']">
    <label v-if="getLabel">{{ getLabel }}</label>

    <textarea-autosize
      :placeholder="placeholder"
      v-model="fieldModel[model]"
      :min-height="30"
      :max-height="350"
      @focus.native="focused = true"
      @blur.native="focused = false"
    ></textarea-autosize>

    <template v-if="fields[[model][0]]">
      <transition name="fadeIn">
        <p class="input__fail" v-if="!fields[[model][0]].valid && showFieldsErrors && hasFailMessage"><template v-if="failMessage">{{ failMessage }}</template><template v-else>{{ failMessageDefault }}</template></p>
      </transition>
    </template>
  </div>
</template>

<script>
  import FieldMixin from '../mixins/field-mixin'
  import Vue from 'vue'
  import VueTextareaAutosize from 'vue-textarea-autosize'

  Vue.use(VueTextareaAutosize)

  export default {
    name: 'input-textarea',
    mixins: [FieldMixin]
  }
</script>
