<template>
  <input type="hidden" :name="[model][0]" v-model="fieldModel[model]">
</template>

<script>
  import FieldMixin from '../mixins/field-mixin'

  export default {
    name: 'input-hidden',
    props: {
      value: {}
    },
    mixins: [FieldMixin],
    beforeMount () {
      this.fieldModel[this.model] = this.value
    }
  }
</script>
