<template>
  <div class="input input-email" :class="[`input--${display}`, focused ? `input--focused` : '', fieldModel[model] !== '' && fieldModel[model] ? `input--filled` : '']">
    <label v-if="getLabel">{{ getLabel }}</label>

    <input type="email" ref="field" readonly :name="[model][0]" v-model="fieldModel[model]" :placeholder="placeholder" v-validate="`${rules}|email`" @focus="focused = true" @blur="focused = false">

    <template v-if="fields[[model][0]]">
      <transition name="fadeIn">
        <p class="input__fail" v-if="!fields[[model][0]].valid && showFieldsErrors && hasFailMessage"><template v-if="failMessage">{{ failMessage }}</template><template v-else>{{ failMessageDefault }}</template></p>
      </transition>
    </template>
  </div>
</template>

<script>
  import FieldMixin from '../mixins/field-mixin'

  export default {
    name: 'input-email',
    mixins: [FieldMixin]
  }
</script>

<style lang="scss" scoped></style>
