<template>
  <div class="input input-checkbox">
    <label v-if="getLabel">{{ getLabel }}</label>

    <div class="input__container">
      <div class="input__single" v-for="el in inputData">
        <input type="checkbox" :name="[model][0]" :value="el.value" v-model="fieldModel[model]" :id="`${[model][0]}-${el.value}`" v-validate="rules">

        <label :for="`${[model][0]}-${el.value}`">
          <span class="input__single__box">
            <i class="sid2-check"></i>
          </span>

          <span class="input__single__label">{{ el.label }}</span>
        </label>
      </div>
    </div>

    <template v-if="fields[[model][0]]">
      <transition name="fadeIn">
        <p class="input__fail" v-if="!fields[[model][0]].valid && showFieldsErrors && hasFailMessage"><template v-if="failMessage">{{ failMessage }}</template><template v-else>{{ failMessageDefault }}</template></p>
      </transition>
    </template>
  </div>
</template>

<script>
  import FieldMixin from '../mixins/field-mixin'

  export default {
    name: 'input-checkbox',
    mixins: [FieldMixin]
  }
</script>

<style scoped lang="scss"></style>
